/*estilo admin_home*/
.admin-turmas {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: -10px;

}
.admin-turmas .sidebar {
  border-right: 1px solid #90C3DB;
  background: #90C3DB;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0px 15px;
  box-sizing: border-box;
}

.admin-turmas .sidebar .container-header {
  margin: 0 9px 9px 9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.admin-turmas .sidebar .container-header .title{
  margin: 0 5.8px 10.5px 0;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  background: linear-gradient(90deg, #004173, #007BD9);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.admin-turmas .list {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.admin-turmas .menu-item {
  border-radius: 8px;
  background: rgba(247, 247, 247, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}

.admin-turmas .vector {
  margin: 0 16px 0px 0;
  width: 25px;
  height: 25px;
}

.admin-turmas .link {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
}

.admin-turmas .container-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80vw;
  box-sizing: border-box;
  justify-content: space-between;
}

.admin-turmas .container-content .container-header {
  background: linear-gradient(90deg, #0979B0, rgba(4, 51, 74, 0.95));
  position: relative;
  margin-bottom: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16.2px 54px 16px 30.9px;
  width: 100%;
  box-sizing: border-box;
}

.admin-turmas .container-content .container-header .title {
  margin: 0 16px 8px 16px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}

.admin-turmas .portal-do-admin {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 45px;
  letter-spacing: -0.9px;
  line-height: 1.1;
  color: #E5E5E5;
}
/*fim estilo*/

.admin-turmas .title {
  margin-top: 2.8px;
  display: flex;
  box-sizing: border-box;
}

.admin-turmas .content-title {
  margin: 0 64.3px 16px 64.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.admin-turmas .buscar {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.admin-turmas .busca {
  border-radius: 20px;
  background: #D9D9D9;
  position: relative;
  margin-right: 11px;
  padding: 5px 10px;
  width: 270px;
  box-sizing: border-box;
}

.admin-turmas .filter {
  background: #D9D9D9;
  position: relative;
  margin-right: 11px;
  display: flex;
  flex-direction: row;
  line-height: 0.9;
  justify-content: space-between;
  padding: 5px 15.1px 5px 8px;
  width: 200px;
  box-sizing: border-box;
}

.admin-turmas .icon-filter {
  width: 22.5px;
  height: 25px;
}

.admin-turmas .text {
  margin-right: 15px;
  width: 157.1px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}

.admin-turmas .container-search {
  margin: 0 86px 13px 61px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.admin-turmas .field {
  margin-right: 15px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.admin-turmas .class-info {
  background: #D9D9D9;
  position: relative;
  margin-bottom: 3px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 36.1px 9px 20.2px;
  width: 100%;
  box-sizing: border-box;
}

.admin-turmas .info {
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 853px;
  box-sizing: border-box;
}

.admin-turmas .icon {
  width: 25px;
  height: 25px;
}

.admin-turmas .edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49px;
  box-sizing: border-box;
}

.admin-turmas .edit-icon {
  background: #D9D9D9;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  padding: 12px 11px 11.2px 12px;
  width: 49px;
  height: 49px;
  box-sizing: border-box;
}

.admin-turmas .container-info {
  margin: 0 61px 3px 61px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 908px;
  box-sizing: border-box;
}

.admin-turmas .vector-1 {
  width: 50px;
  height: 50px;
}

.admin-turmas .container-buttons {
  position: relative;
  margin: 0 23px 17px 61px;
  display: flex;
  justify-content: right;
  width: 90%;
  box-sizing: border-box;
}

.admin-turmas .container-button {
  background: #D9D9D9;
  position: relative;
  margin: 74px 14px 0 0;
  display: flex;
  padding: 7px 7px 7px 8px;
  width: 67px;
  height: 66px;
  box-sizing: border-box;
}

.admin-turmas .fade {
  background: linear-gradient(170.1deg, rgba(255, 255, 255, 0) -23.2%, #FFFFFF 43.68%, #FFFFFF 93.5%);
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 908px;
  height: 69px;
}


.admin-turmas .footer {
  background: linear-gradient(90deg, rgba(4, 51, 74, 0.95), rgba(4, 58, 84, 0.95), rgba(9, 121, 176, 0.95));
  width: 100%;
  height: 131px;
}

