.admin-relatorios {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: -10px;
}

/*sidebar*/
.admin-relatorios .sidebar {
  border-right: 1px solid #90C3DB;
  background: #90C3DB;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0px 15px;
  box-sizing: border-box;
}

.admin-relatorios .sidebar .container-header {
  margin: 0 9px 9px 9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.admin-relatorios .sidebar .container-header .title{
  margin: 0 5.8px 10.5px 0;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  background: linear-gradient(90deg, #004173, #007BD9);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.admin-relatorios .list {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.admin-relatorios .menu-item {
  border-radius: 8px;
  background: rgba(247, 247, 247, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}

.admin-relatorios .vector {
  margin: 0 16px 0px 0;
  width: 25px;
  height: 25px;
}

.admin-relatorios .link {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
}

.admin-relatorios .container-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80vw;
  box-sizing: border-box;
}

.admin-relatorios .container-content .container-header {
  background: linear-gradient(90deg, #0979B0, rgba(4, 51, 74, 0.95));
  position: relative;
  margin-bottom: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16.2px 54px 16px 30.9px;
  width: 100%;
  box-sizing: border-box;
}

.admin-relatorios .container-content .container-header .title {
  margin: 0 16px 8px 16px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
/*============*/

.admin-relatorios .content-title {
  margin: 0 64.3px 16px 64.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.admin-relatorios .vector {
  width: 41.3px;
  height: 44.7px;
}

.admin-relatorios .portal-do-admin {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 45px;
  letter-spacing: -0.9px;
  line-height: 1.1;
  color: #E5E5E5;
}

.admin-relatorios .title {
  margin-top: 2.8px;
  display: flex;
  box-sizing: border-box;
}

.admin-relatorios .text {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}

.admin-relatorios .container-relatorios .relatorio {
  background: #94DFFF;
  position: relative;
  padding: 21px 24.2px 71px 24.2px;
  width: 345px;
  box-sizing: border-box;
}

.admin-relatorios .container-relatorios {
  margin: 0 35px 16px 40px;
  display: flex;
  flex-direction: row;
  column-gap: 22px;
  width: fit-content;
  box-sizing: border-box;
}

.admin-relatorios .footer {
  background: linear-gradient(90deg, rgba(4, 51, 74, 0.95), rgba(4, 58, 84, 0.95), rgba(9, 121, 176, 0.95));
  width: 100%;
  height: 131px;
}
