.aluno-quadro-horarios .title {
  margin-right: 21px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  background: linear-gradient(90deg, #E0E0E0, #B5DBFF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.aluno-quadro-horarios .group-2 {
  width: 54.7px;
  height: 47.4px;
}
.aluno-quadro-horarios .streamlineglobal-learning {
  margin: 8.3px 0 19.3px 0;
  display: flex;
  width: 54.7px;
  height: 47.4px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-14 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-quadro-horarios .group-1 {
  width: 35.8px;
  height: 32.5px;
}
.aluno-quadro-horarios .icon-park-outlinelocal {
  margin: 3.3px 22.6px 4.2px 0;
  display: flex;
  width: 35.8px;
  height: 32.5px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .solaruser-bold {
  margin-right: 19px;
  width: 41px;
  height: 40px;
}
.aluno-quadro-horarios .vector-5 {
  width: 35px;
  height: 33.7px;
}
.aluno-quadro-horarios .icon-headset-icon {
  margin: 3px 0 3.3px 0;
  display: flex;
  width: 35px;
  height: 33.7px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-4 {
  margin: 0 0px 6px 0px;
  display: flex;
  flex-direction: row;
  width: 153.4px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .vector-1 {
  background: #F5F5F5;
  width: 771px;
  height: 2px;
}
.aluno-quadro-horarios .container-5 {
  margin: 7.5px 0 19.5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 771px;
  height: fit-content;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-1 {
  background: linear-gradient(90deg, #0979B0, rgba(4, 51, 74, 0.95));
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5px 43px 7.5px 31px;
  width: 1440px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .discover {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .menu-item-2 {
  border-radius: 8px;
  margin: 0 171.1px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.aluno-quadro-horarios .home {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.aluno-quadro-horarios .home-1 {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .menu-item-3 {
  border-radius: 8px;
  background: rgba(247, 247, 247, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .vector-14 {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.aluno-quadro-horarios .quadro-de-horrios {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .menu-item-4 {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .group-2 {
  border-radius: 8px;
  margin-bottom: 4px;
  display: flex;
  width: 263px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .vector {
  margin: 0.5px 20px 0.5px 0;
  width: 19px;
  height: 23px;
}
.aluno-quadro-horarios .disciplinas {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .menu-item {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .group {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.aluno-quadro-horarios .solicitaes {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .menu-item-1 {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .group-5 {
  border-radius: 8px;
  display: flex;
  width: 263px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .sidebar {
  border-right: 1px solid #E0E0E0;
  background: #90C3DB;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 16px 616px 15px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .quadro-de-horrios-1 {
  margin: 0 2px 13.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 35px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .curso {
  margin: 10.5px 37.2px 10.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .vector-2 {
  background: #F5F5F5;
  margin-right: 27px;
  width: 2px;
  height: 59px;
}
.aluno-quadro-horarios .bacharelado-em-sistemas-de-informao {
  margin: 10px 0 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .container-26 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-quadro-horarios .vector-7 {
  background: #F5F5F5;
  transform: rotate(-90deg);
  margin-right: 24.4px;
  width: 2px;
  height: 58px;
}
.aluno-quadro-horarios .semestre-5 {
  margin: 5px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .container-10 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-8 {
  margin: 0 6.5px 0 10.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 924.3px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .perodo {
  margin: 6px 12.3px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .container {
  margin: 6px 40.6px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .vector-4 {
  background: #F5F5F5;
  transform: rotate(-90deg);
  position: relative;
  margin-right: 6.7px;
  width: 2px;
  height: 58px;
}
.aluno-quadro-horarios .turma-fes-030131 {
  margin: 6px 24.7px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .vector-5 {
  background: #F5F5F5;
  transform: rotate(-90deg);
  margin-right: 19.9px;
  width: 2px;
  height: 58px;
}
.aluno-quadro-horarios .turno-matutino {
  margin: 6px 30.9px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .vector-6 {
  background: #F5F5F5;
  transform: rotate(-90deg);
  width: 2px;
  height: 58px;
}
.aluno-quadro-horarios .container-16 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-quadro-horarios .matrcula-123982198 {
  margin: 6px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .container-21 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 941.5px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-9 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 941.5px;
  height: fit-content;
  box-sizing: border-box;
}
.aluno-quadro-horarios .vector-3 {
  background: #F5F5F5;
  position: absolute;
  left: 0px;
  top: 50%;
  right: 0px;
  translate: 0 -50%;
  height: 2px;
}
.aluno-quadro-horarios .container-6 {
  background: #0979B0;
  position: relative;
  padding: 0 17.6px;
  width: 1088px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-23 {
  background: #90C3DB;
  position: relative;
  margin: 0 0 29px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5px 0 15px 0;
  width: 1088px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .horrios {
  margin-right: 19px;
  width: 123.6px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .segunda {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .tera {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .quarta {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .quinta {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .sexta {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .sbado {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .container-15 {
  background: #0979B0;
  position: relative;
  margin-bottom: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 20.7px 18px 15.2px;
  width: 1090px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .estrutura-de-dados {
  margin-right: 38px;
  width: 244.3px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .jogos-digitais-4 {
  margin: 4px 19.1px 19px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .anlise-orientada-aobjeto {
  margin: 0 30.6px 1px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .desenvolvimento-web-2 {
  margin-top: 1px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .container-19 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-13 {
  margin: 0 0 43px 9.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 771.9px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .desenvolvimento-web {
  margin-right: 30px;
  width: 273.5px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .jogos-digitais-1 {
  margin: 11px 24.1px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .anlise-orientada-aobjeto-1 {
  margin-right: 30.6px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .desenvolvimento-web-3 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .container-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-22 {
  margin: 0 13px 79px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 798.1px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .desenvolvimento-web-1 {
  margin: 11px 30px 0 0;
  display: inline-block;
  width: 279.5px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .jogos-digitais-2 {
  margin: 14px 21.1px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .anlise-orientada-aobjeto-2 {
  margin: 3px 28.6px 0 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .desenvolvimento-web-4 {
  margin-bottom: 3px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .container-24 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-3 {
  margin: 0 12px 87px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 799.1px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .jogos-digitais {
  margin: 11px 19px 11px 0;
  display: inline-block;
  width: 283px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .jogos-digitais-3 {
  margin: 11px 21.1px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .anlise-orientada-aobjeto-3 {
  margin-right: 34.6px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .desenvolvimento-web-5 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .container-7 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-18 {
  margin-right: 4.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 797.6px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container {
  background: #90C3DB;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 38px;
  width: 1090px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-17 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1090px;
  height: fit-content;
  box-sizing: border-box;
}
.aluno-quadro-horarios .vector-8 {
  background: #F5F5F5;
  position: absolute;
  left: 0px;
  top: 396px;
  right: 0px;
  height: 2px;
}
.aluno-quadro-horarios .vector-9 {
  background: #F5F5F5;
  position: absolute;
  left: 0px;
  top: 304px;
  right: 0px;
  height: 2px;
}
.aluno-quadro-horarios .vector-10 {
  background: #F5F5F5;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 297px;
  height: 2px;
}
.aluno-quadro-horarios .vector-11 {
  background: #F5F5F5;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 146px;
  height: 2px;
}
.aluno-quadro-horarios .vector-12 {
  background: #F5F5F5;
  position: absolute;
  left: 135px;
  bottom: 0px;
  width: 2px;
  height: 598px;
}
.aluno-quadro-horarios .vector-13 {
  background: #F5F5F5;
  position: absolute;
  left: 292px;
  bottom: 0px;
  width: 2px;
  height: 598px;
}
.aluno-quadro-horarios .vector-14 {
  background: #F5F5F5;
  position: absolute;
  left: 434px;
  bottom: 0px;
  width: 2px;
  height: 598px;
}
.aluno-quadro-horarios .vector-17 {
  background: #F5F5F5;
  position: absolute;
  right: 130px;
  bottom: 0px;
  width: 2px;
  height: 598px;
}
.aluno-quadro-horarios .container-25 {
  position: relative;
  margin: 38px 0 33px 0;
  display: flex;
  width: 1090px;
  height: fit-content;
  box-sizing: border-box;
}
.aluno-quadro-horarios .container-20 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-quadro-horarios .s-0910 {
  margin: 0 4.1px 89px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .s-1000 {
  margin: 0 4.1px 106px 0.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .s-1100 {
  margin: 0 1.1px 110px 3.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .s-1220 {
  margin-left: 3.9px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  color: #000000;
}
.aluno-quadro-horarios .container-11 {
  background: #0979B0;
  position: absolute;
  left: 325px;
  bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 4.4px 0 3.4px;
  height: 524px;
  box-sizing: border-box;
}
.aluno-quadro-horarios .vector-15 {
  background: #F5F5F5;
  position: absolute;
  right: 487px;
  bottom: 32px;
  width: 2px;
  height: 598px;
}
.aluno-quadro-horarios .vector-16 {
  background: #F5F5F5;
  position: absolute;
  right: 314px;
  bottom: 32px;
  width: 2px;
  height: 598px;
}
.aluno-quadro-horarios .container-12 {
  position: relative;
  margin-right: 25px;
  display: flex;
  box-sizing: border-box;
}
.aluno-quadro-horarios {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
