.aluno-solicitacoes .title {
  margin-right: 21px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  background: linear-gradient(90deg, #E0E0E0, #B5DBFF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.aluno-solicitacoes .group-3 {
  width: 54.7px;
  height: 47.4px;
}
.aluno-solicitacoes .streamlineglobal-learning {
  margin: 8.3px 0 19.3px 0;
  display: flex;
  width: 54.7px;
  height: 47.4px;
  box-sizing: border-box;
}
.aluno-solicitacoes .container-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-solicitacoes .group-2 {
  width: 35.8px;
  height: 32.5px;
}
.aluno-solicitacoes .icon-park-outlinelocal {
  margin: 3.3px 22.6px 4.2px 0;
  display: flex;
  width: 35.8px;
  height: 32.5px;
  box-sizing: border-box;
}
.aluno-solicitacoes .solaruser-bold {
  margin-right: 19px;
  width: 41px;
  height: 40px;
}
.aluno-solicitacoes .vector-12 {
  width: 35px;
  height: 33.7px;
}
.aluno-solicitacoes .icon-headset-icon {
  margin: 3px 0 3.3px 0;
  display: flex;
  width: 35px;
  height: 33.7px;
  box-sizing: border-box;
}
.aluno-solicitacoes .container-1 {
  margin: 0 0px 6px 0px;
  display: flex;
  flex-direction: row;
  width: 153.4px;
  box-sizing: border-box;
}
.aluno-solicitacoes .vector-1 {
  background: #F5F5F5;
  width: 771px;
  height: 2px;
}
.aluno-solicitacoes .container-5 {
  margin: 7.5px 0 19.5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 771px;
  height: fit-content;
  box-sizing: border-box;
}
.aluno-solicitacoes .container-12 {
  background: linear-gradient(90deg, #0979B0, rgba(4, 51, 74, 0.95));
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5px 43px 7.5px 31px;
  width: 1440px;
  box-sizing: border-box;
}
.aluno-solicitacoes .discover {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .menu-item {
  border-radius: 8px;
  margin: 0 171.1px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.aluno-solicitacoes .home {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.aluno-solicitacoes .home-1 {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .menu-item-1 {
  border-radius: 8px;
  background: rgba(247, 247, 247, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.aluno-solicitacoes .vector-6 {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.aluno-solicitacoes .quadro-de-horrios {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .menu-item-2 {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.aluno-solicitacoes .group-2 {
  border-radius: 8px;
  margin-bottom: 4px;
  display: flex;
  width: 263px;
  box-sizing: border-box;
}
.aluno-solicitacoes .vector-7 {
  margin: 0.5px 20px 0.5px 0;
  width: 19px;
  height: 23px;
}
.aluno-solicitacoes .disciplinas {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .menu-item-3 {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.aluno-solicitacoes .group-1 {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.aluno-solicitacoes .solicitaes {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .menu-item-4 {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.aluno-solicitacoes .group-5 {
  border-radius: 8px;
  display: flex;
  width: 263px;
  box-sizing: border-box;
}
.aluno-solicitacoes .sidebar {
  border-right: 1px solid #E0E0E0;
  background: #90C3DB;
  margin-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 16px 616px 15px;
  box-sizing: border-box;
}
.aluno-solicitacoes .solicitao {
  margin: 0 0.4px 33px 0.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .buscar {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .container-15 {
  border-radius: 20px;
  background: #94DFFF;
  position: relative;
  display: flex;
  padding: 10px 141px 12px 0;
  width: 272px;
  box-sizing: border-box;
}
.aluno-solicitacoes .nova-solicitao {
  margin: 0 16.3px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .rectangle-20 {
  background: url('../assets/images/rectangle_20.png') 50% / cover no-repeat;
  width: 31px;
  height: 31px;
}
.aluno-solicitacoes .group-55 {
  background: #94DFFF;
  position: relative;
  margin: 1px 25px 0 0;
  display: flex;
  flex-direction: row;
  padding: 4px 17px 5px 9.3px;
  box-sizing: border-box;
}
.aluno-solicitacoes .data-de-solicitao {
  margin-right: 20.9px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .vector {
  width: 22.5px;
  height: 25px;
}
.aluno-solicitacoes .mdicalendar-outline {
  margin: 3.3px 0 1.8px 0;
  display: flex;
  width: 22.5px;
  height: 25px;
  box-sizing: border-box;
}
.aluno-solicitacoes .group-54 {
  background: #94DFFF;
  position: relative;
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  padding: 4px 14.8px 6px 8.2px;
  box-sizing: border-box;
}
.aluno-solicitacoes .container-17 {
  margin: 6px 0 5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.aluno-solicitacoes .container-9 {
  margin: 0 0 50px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 798px;
  box-sizing: border-box;
}
.aluno-solicitacoes .rectangle-39 {
  background: #E5E5E5;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 687px;
  height: 140px;
}
.aluno-solicitacoes .vector-2 {
  margin: 5px 17.3px 1px 0;
  width: 54px;
  height: 54px;
}
.aluno-solicitacoes .nmero-68988 {
  margin: 0 17.1px 0 0.1px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .data-24052024 {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .container-16 {
  margin-right: 20.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.aluno-solicitacoes .solicitao-histrico-escolar {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .prazo-2-dias {
  margin: 0 3.9px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .container-13 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.aluno-solicitacoes .container-11 {
  margin: 0 21px 3px 21px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.aluno-solicitacoes .status-em-andamento {
  align-self: flex-start;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.aluno-solicitacoes .container-3 {
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3px 0 14px 13px;
  box-sizing: border-box;
}
.aluno-solicitacoes .group-51 {
  position: relative;
  margin-bottom: 3px;
  padding-top: 7px;
  box-sizing: border-box;
}
.aluno-solicitacoes .rectangle-391 {
  background: #E5E5E5;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 687px;
  height: 140px;
}
.aluno-solicitacoes .vector-3 {
  margin: 6px 17.3px 0 0;
  width: 54px;
  height: 54px;
}
.aluno-solicitacoes .nmero-12478 {
  margin: 0 17.1px 0 0.1px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .data-05042024 {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .container-6 {
  margin-right: 19.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.aluno-solicitacoes .solicitao-correo-de-nota {
  margin-left: 5px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .prazo-10-dias {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .container-8 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.aluno-solicitacoes .container-14 {
  margin: 0 14.6px 13px 14.6px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.aluno-solicitacoes .status-concludo {
  align-self: flex-start;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}
.aluno-solicitacoes .container-10 {
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3px 0 24px 19.4px;
  box-sizing: border-box;
}
.aluno-solicitacoes .group-52 {
  position: relative;
  padding-top: 7px;
  box-sizing: border-box;
}
.aluno-solicitacoes .container {
  background: #F8F8F8 content-box, linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(#000000, #000000) border-box;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 3px 0 299px 0;
  width: fit-content;
  box-sizing: border-box;
}
.aluno-solicitacoes .container-2 {
  margin: 20px 26px 106px 0;
  display: flex;
  flex-direction: column;
  width: 800px;
  box-sizing: border-box;
}
.aluno-solicitacoes .histrico-solicitao {
  margin-right: 8.5px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.aluno-solicitacoes .vector-1 {
  width: 17.8px;
  height: 10.2px;
}
.aluno-solicitacoes .group {
  margin: 11.1px 0 8.7px 0;
  display: flex;
  width: 17.8px;
  height: 10.2px;
  box-sizing: border-box;
}
.aluno-solicitacoes .group-53 {
  background: #94DFFF;
  position: relative;
  margin: 98px 0 760px 0;
  display: flex;
  flex-direction: row;
  padding: 4px 11.1px 6px 9.4px;
  box-sizing: border-box;
}
.aluno-solicitacoes .container-7 {
  margin-right: 43px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.aluno-solicitacoes {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
