/**/

.professor-turmas {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width:100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: -10px;
}

.professor-turmas .container-main {
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
}

.professor-turmas .menu-item {
  border-radius: 8px;
  background: rgba(247, 247, 247, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.professor-turmas .sidebar {
  border-right: 1px solid #90C3DB;
  background: #90C3DB;
  display: flex;
  flex-direction: column;
  padding: 16.5px 16px 561px 15px;
  box-sizing: border-box;
}
.professor-turmas .container-header {
  background: linear-gradient(90deg, #0979B0, rgba(4, 51, 74, 0.95));
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.5px 43px 7.5px 31px;
  width: 100vw;
  box-sizing: border-box;
}

.professor-turmas .content-title {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.professor-turmas .container-logo {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.professor-turmas .title {
  margin-right: 21px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  background: linear-gradient(90deg, #E0E0E0, #B5DBFF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.professor-turmas .logo {
  margin: 8.3px 0 19.3px 0;
  display: flex;
  box-sizing: border-box;
  width: 54.7px;
  height: 47.4px;
}

.professor-turmas .container-13 {
  margin: 7.5px 0 19.5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 771px;
  height: fit-content;
  box-sizing: border-box;
}

.professor-turmas .container-options {
  display: flex;
  flex-direction: row;
  margin: 7.5px 0 19.5px 0;
  height: fit-content;
  box-sizing: border-box;
}

.professor-turmas .options-icon {
  width: 30px;
  height: 30px;
}

.professor-turmas .line {
  background: #F5F5F5;
  width: 771px;
  height: 2px;
}

.professor-turmas .list {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.professor-turmas .link {
  overflow-wrap: break-word;
  font-family: 'Judson';
  margin-left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
}

.professor-turmas .container-search {
  margin: 30px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
}

.professor-turmas .buscar {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.professor-turmas .busca {
  border-radius: 20px;
  background: #D9D9D9;
  position: relative;
  margin-right: 11px;
  padding: 5px 10px;
  width: 270px;
  box-sizing: border-box;
}

.professor-turmas .filter {
  background: #D9D9D9;
  position: relative;
  margin-right: 11px;
  display: flex;
  flex-direction: row;
  line-height: 0.9;
  justify-content: space-between;
  padding: 5px 15.1px 5px 8px;
  width: 200px;
  box-sizing: border-box;
}

.professor-turmas .icon-filter {
  width: 22.5px;
  height: 25px;
}

.professor-turmas .text {
  margin-right: 15px;
  width: 157.1px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}

.professor-turmas .container-info {
  margin: 0 61px 3px 61px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 908px;
  box-sizing: border-box;
}

.professor-turmas .class-info {
  background: #94DFFF;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 36.1px 9px 20.2px;
  width: 853px;
  box-sizing: border-box;
}

.professor-turmas .info {
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 853px;
  box-sizing: border-box;
}

.professor-turmas .field {
  margin-right: 15px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.professor-turmas .edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49px;
  box-sizing: border-box;
}

.professor-turmas .edit-icon {
  background: #D9D9D9;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  padding: 12px 11px 11.2px 12px;
  width: 49px;
  height: 49px;
  box-sizing: border-box;
}

.professor-turmas .icon {
  width: 25px;
  height: 25px;
}

.professor-turmas .content {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10%;
}
/**/

.professor-turmas .footer {
  background: linear-gradient(90deg, rgba(4, 51, 74, 0.95), rgba(4, 58, 84, 0.95), rgba(9, 121, 176, 0.95));
  width: 100%;
  height: 131px;
  align-self:flex-end;
}


