/**/

.professor-disciplinas {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width:100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: -10px;
}

.professor-disciplinas .container-main {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
  width: fit-content;
  box-sizing: border-box;
}

.professor-disciplinas .menu-item {
  border-radius: 8px;
  background: rgba(247, 247, 247, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.professor-disciplinas .sidebar {
  border-right: 1px solid #90C3DB;
  background: #90C3DB;
  display: flex;
  flex-direction: column;
  padding: 16.5px 16px 561px 15px;
  box-sizing: border-box;
}
.professor-disciplinas .container-header {
  background: linear-gradient(90deg, #0979B0, rgba(4, 51, 74, 0.95));
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.5px 43px 7.5px 31px;
  width: 100vw;
  box-sizing: border-box;
}

.professor-disciplinas .container-logo {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.professor-disciplinas .title {
  margin-right: 21px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  background: linear-gradient(90deg, #E0E0E0, #B5DBFF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.professor-disciplinas .logo {
  margin: 8.3px 0 19.3px 0;
  display: flex;
  box-sizing: border-box;
  width: 54.7px;
  height: 47.4px;
}

.professor-disciplinas .container-13 {
  margin: 7.5px 0 19.5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 771px;
  height: fit-content;
  box-sizing: border-box;
}

.professor-disciplinas .container-options {
  display: flex;
  flex-direction: row;
  margin: 7.5px 0 19.5px 0;
  height: fit-content;
  box-sizing: border-box;
}

.professor-disciplinas .options-icon {
  width: 30px;
  height: 30px;
}

.professor-disciplinas .line {
  background: #F5F5F5;
  width: 771px;
  height: 2px;
}

.professor-disciplinas .list {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.professor-disciplinas .link {
  overflow-wrap: break-word;
  font-family: 'Judson';
  margin-left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
}

.professor-disciplinas .content-title {
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  color: #000000;
}

/**/

.professor-disciplinas table{
  border-color: #B5DBFF;
  border-width: 4px;
  border-style:bold;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 10px;
  width: 95%;
  height: fit-content;
  box-sizing: border-box;
  
}

.professor-disciplinas tr{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
}

.professor-disciplinas thead td{
  
  width: 25%;
  margin: 1px 5px 0px 5px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.5;
  color: #000000;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.professor-disciplinas tbody td{
  width: 25%;
  margin:  0px 5px ;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}

.professor-disciplinas .footer {
  background: linear-gradient(90deg, rgba(4, 51, 74, 0.95), rgba(4, 58, 84, 0.95), rgba(9, 121, 176, 0.95));
  width: 100%;
  height: 131px;
}
.professor-disciplinas .container-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 80vw;
  height: fit-content;
  box-sizing: border-box;
}

.professor-disciplinas .content{
  border-radius: 15px;
  background: #0277BD;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 30px;
  width: 90%;
  height: fit-content;
  box-sizing: border-box;
}
