{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <div class="login">
      <div class="container-header">
        <img class="logo" src="{% static 'images/logo.png' %}" />
        <span class="title">
          Universidade Utopia 
        </span>
      </div>
      <div class="container-form">
        <div class="login-form">
        Login
        </div>
        
        <form method="post">
          {% csrf_token %}
            <input type="text" class="login-input" placeholder="login" name="login" >
            <input type="password" class="login-input" placeholder="senha" name="password" >
            <button type="submit" class="entrar">Entrar</button>
        </form>
      
        <a href="senha/" class="esqueci-minha-senha">Esqueci minha senha</a>
      </div>
      <div class="footer">
      </div>
    </div>
  </body>
</html>