<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="admin_home.css" />
  </head>
  <body>
    <div class="admin-home">
      <div class="sidebar">
        <div class="container-14">
          <div class="title-2">
          Universidade Utopia 
          </div>
          <div class="streamlineglobal-learning">
            <img class="group" src="../assets/vectors/group_1_x2.svg" />
          </div>
        </div>
        <div class="list">
          <div class="menu-item">
            <span class="discover">
            Discover
            </span>
          </div>
          <div class="menu-item-1">
            <img class="home" src="../assets/vectors/home_4_x2.svg" />
            <span class="home-1">
            Home
            </span>
          </div>
          <div class="group-2">
            <div class="menu-item-2">
              <img class="vector-5" src="../assets/vectors/vector_72_x2.svg" />
              <span class="alunos">
              Alunos
              </span>
            </div>
          </div>
          <div class="menu-item-3">
            <div class="phchalkboard-teacher-light">
              <img class="vector-6" src="../assets/vectors/vector_36_x2.svg" />
            </div>
            <span class="professores">
            Professores
            </span>
          </div>
        </div>
        <div class="list-1">
          <div class="title-1">
            <span class="biblioteca">
            Biblioteca
            </span>
          </div>
          <div class="menu-item-4">
            <div class="icoutline-class">
              <img class="vector-7" src="../assets/vectors/vector_98_x2.svg" />
            </div>
            <span class="disciplinas">
            Disciplinas
            </span>
          </div>
          <div class="group-3">
            <div class="menu-item-5">
              <div class="material-symbolsgroup-outline">
                <img class="vector-8" src="../assets/vectors/vector_53_x2.svg" />
              </div>
              <span class="turmas">
              Turmas
              </span>
            </div>
          </div>
          <div class="group-4">
            <div class="menu-item-6">
              <img class="vector-9" src="../assets/vectors/vector_2_x2.svg" />
              <span class="relatrios">
              Relatórios
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="container-1">
        <div class="container-11">
          <div class="bytesizeoptions">
            <img class="vector-10" src="../assets/vectors/vector_90_x2.svg" />
          </div>
          <div class="title">
            <span class="portal-do-admin">
            Portal do admin
            </span>
          </div>
        </div>
        <div class="container-7">
          <div class="azul-escuro-elaranja-moderno-profissional-cincia-etecnologia-pessoal-assinatura-de-email-1">
          </div>
          <div class="assinatura-de-email-laranja-epreto-simples-1">
          </div>
        </div>
        <div class="container-10">
          <div class="container-9">
            <div class="relatrios-1">
            Relatórios
            </div>
            <div class="container-15">
              <img class="vector-14" src="../assets/vectors/vector_35_x2.svg" />
              <span class="turma-fes-030131">
              Turma FES030131
              </span>
            </div>
            <div class="container-3">
              <img class="vector-15" src="../assets/vectors/vector_25_x2.svg" />
              <span class="turma-gol-041222">
              Turma GOL041222
              </span>
            </div>
            <div class="container-4">
              <img class="vector-16" src="../assets/vectors/vector_45_x2.svg" />
              <span class="turma-r-051224">
              Turma R051224
              </span>
            </div>
            <div class="container-13">
              <img class="vector-17" src="../assets/vectors/vector_100_x2.svg" />
              <span class="turma-ep-020125">
              Turma EP020125
              </span>
            </div>
            <div class="container-8">
              <img class="vector-18" src="../assets/vectors/vector_95_x2.svg" />
              <span class="turma-p-010203">
              Turma P010203
              </span>
            </div>
          </div>
          <div class="container-12">
            <div class="solicitaes-recentes">
            Solicitações Recentes
            </div>
            <div class="container">
              <div class="announcement-1">
                <img class="vector-19" src="../assets/vectors/vector_87_x2.svg" />
              </div>
              <span class="relatrio-fes-030131">
              Relatório FES030131
              </span>
            </div>
            <div class="container-6">
              <div class="announcement-2">
                <img class="vector-11" src="../assets/vectors/vector_61_x2.svg" />
              </div>
              <div class="histrico-escolar">
              Histórico Escolar
              </div>
            </div>
            <div class="container-2">
              <div class="announcement">
                <img class="vector-12" src="../assets/vectors/vector_1_x2.svg" />
              </div>
              <div class="correo-de-notas">
              Correção de Notas
              </div>
            </div>
            <div class="container-5">
              <img class="vector-13" src="../assets/vectors/vector_21_x2.svg" />
              <div class="trancamento-de-matricula">
              Trancamento de Matricula
              </div>
            </div>
          </div>
        </div>
        <div class="rectangle-1">
        </div>
      </div>
    </div>
  </body>
</html>