<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - relatórios</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="admin_relatrios.css" />
  </head>
  <body>
    <div class="admin-relatrios">
      <div class="container-8">
        <div class="container-10">
          <div class="bytesizeoptions">
            <img class="vector" src="../assets/vectors/vector_51_x2.svg" />
          </div>
          <div class="title">
            <span class="portal-do-admin">
            Portal do admin
            </span>
          </div>
        </div>
        <div class="relatrios-1">
        Relatórios
        </div>
        <div class="container-2">
          <div class="container-7">
            <span class="relatrio-de-professores">
            Relatório de professores
            </span>
          </div>
          <div class="container">
            <span class="relatrio-de-turmas">
            Relatório de turmas
            </span>
          </div>
          <div class="container-4">
            <span class="relatrio-de-alunos">
            Relatório de alunos
            </span>
          </div>
        </div>
        <div class="container-5">
          <div class="container-6">
            <span class="relatrio-de-disciplinas">
            Relatório de disciplinas
            </span>
          </div>
          <div class="container-9">
            <span class="contrato-de-professores">
            Contrato de professores
            </span>
          </div>
          <div class="container-1">
            <span class="contrato-de-alunos">
            Contrato de alunos
            </span>
          </div>
        </div>
        <div class="rectangle-23">
        </div>
        <div class="rectangle-1">
        </div>
      </div>
      <div class="sidebar">
        <div class="container-3">
          <div class="title-2">
          Universidade Utopia 
          </div>
          <div class="streamlineglobal-learning">
            <img class="group" src="../assets/vectors/group_14_x2.svg" />
          </div>
        </div>
        <div class="list">
          <div class="menu-item">
            <span class="discover">
            Discover
            </span>
          </div>
          <div class="menu-item-1">
            <img class="home" src="../assets/vectors/home_2_x2.svg" />
            <span class="home-1">
            Home
            </span>
          </div>
          <div class="group-2">
            <div class="menu-item-2">
              <img class="vector-3" src="../assets/vectors/vector_91_x2.svg" />
              <span class="alunos">
              Alunos
              </span>
            </div>
          </div>
          <div class="menu-item-3">
            <div class="phchalkboard-teacher-light">
              <img class="vector-4" src="../assets/vectors/vector_26_x2.svg" />
            </div>
            <span class="professores">
            Professores
            </span>
          </div>
        </div>
        <div class="list-1">
          <div class="title-1">
            <span class="biblioteca">
            Biblioteca
            </span>
          </div>
          <div class="menu-item-4">
            <div class="icoutline-class">
              <img class="vector-5" src="../assets/vectors/vector_12_x2.svg" />
            </div>
            <span class="disciplinas">
            Disciplinas
            </span>
          </div>
          <div class="group-3">
            <div class="menu-item-5">
              <div class="material-symbolsgroup-outline">
                <img class="vector-6" src="../assets/vectors/vector_59_x2.svg" />
              </div>
              <span class="turmas">
              Turmas
              </span>
            </div>
          </div>
          <div class="group-4">
            <div class="menu-item-6">
              <img class="vector-7" src="../assets/vectors/vector_109_x2.svg" />
              <span class="relatrios">
              Relatórios
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>