<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mask group</title>
    <link rel="stylesheet" href="mask_group.css" />
  </head>
  <body>
    <div class="mask-group">
      <div class="frame-1">
        <div class="property-1-default">
        </div>
        <div class="property-1-variant-2">
        </div>
      </div>
    </div>
  </body>
</html>