<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Professor - home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="professor_home.css" />
  </head>
  <body>
    <div class="professor-home">
      <div class="container-9">
        <div class="container-1">
          <span class="title">
          Universidade Utopia 
          </span>
          <div class="streamlineglobal-learning">
            <img class="group-1" src="../assets/vectors/group_25_x2.svg" />
          </div>
        </div>
        <div class="container-13">
          <div class="container-3">
            <div class="icon-park-outlinelocal">
              <img class="group-2" src="../assets/vectors/group_5_x2.svg" />
            </div>
            <img class="solaruser-bold" src="../assets/vectors/solaruser_bold_5_x2.svg" />
            <div class="icon-headset-icon">
              <img class="vector-11" src="../assets/vectors/vector_8_x2.svg" />
            </div>
          </div>
          <div class="vector-1">
          </div>
        </div>
      </div>
      <div class="container-14">
        <div class="sidebar">
          <div class="menu-item">
            <span class="discover">
            Discover
            </span>
          </div>
          <div class="menu-item-1">
            <img class="home" src="../assets/vectors/home_3_x2.svg" />
            <span class="home-1">
            Home
            </span>
          </div>
          <div class="group-2">
            <div class="menu-item-2">
              <img class="vector-2" src="../assets/vectors/vector_19_x2.svg" />
              <span class="turmas-1">
              Turmas
              </span>
            </div>
          </div>
          <div class="menu-item-3">
            <img class="vector-3" src="../assets/vectors/vector_93_x2.svg" />
            <span class="disciplinas">
            Disciplinas
            </span>
          </div>
          <div class="group-5">
            <div class="menu-item-4">
              <img class="group" src="../assets/vectors/group_3_x2.svg" />
              <span class="solicitaes">
              Solicitações
              </span>
            </div>
          </div>
        </div>
        <div class="container-8">
          <div class="container-2">
            <div class="container-17">
              <span class="turmas">
              Turmas
              </span>
            </div>
            <div class="container-12">
              <span class="disciplina">
              Disciplina
              </span>
            </div>
          </div>
          <div class="container-10">
            <div class="container-6">
              <div class="container-11">
                <div class="checklist">
                </div>
                <span class="fes-030131">
                Fes030131
                </span>
              </div>
              <div class="container-15">
                <div class="checklist-1">
                </div>
                <div class="gol-041222">
                Gol041222
                </div>
              </div>
              <div class="container-5">
                <div class="checklist-2">
                </div>
                <span class="r-051224">
                R051224
                </span>
              </div>
              <div class="container-7">
                <div class="checklist-3">
                </div>
                <div class="ep-020125">
                EP020125
                </div>
              </div>
            </div>
            <div class="container-4">
              <div class="container">
                <div class="checklist-4">
                </div>
                <span class="jogos-digitais">
                Jogos Digitais
                </span>
              </div>
              <div class="container-16">
                <div class="checklist-5">
                </div>
                <div class="desenvolvimento-web">
                Desenvolvimento Web
                </div>
              </div>
            </div>
          </div>
          <div class="anuncio-importante-1">
          </div>
          <div class="rectangle-1">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>