<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>recuperação de senha pt2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="recuperao_de_senha_pt_2.css" />
  </head>
  <body>
    <div class="recuperao-de-senha-pt-2">
      <div class="container">
        <span class="title">
        Universidade Utopia 
        </span>
        <div class="streamlineglobal-learning">
          <img class="group" src="../assets/vectors/group_22_x2.svg" />
        </div>
      </div>
      <div class="container-1">
        <div class="recuperao-de-senha">
        Recuperação de Senha
        </div>
        <div class="solicitao-confirmada">
        Solicitação confirmada!
        </div>
        <div class="olink-de-recuperao-jfoi-enviado-para-seu-endereo-de-email-eficar-livre-para-troca-de-senhas-por-30-minutos-caso-haja-algum-problema-fale-com-osuporte-de-sua-universidade">
        O link de recuperação já foi enviado para seu endereço de email e ficará livre para troca de senhas por 30 minutos. Caso haja algum problema fale com o suporte de sua universidade
        </div>
        <span class="retornar-para-pgina-principal">
        Retornar para página principal
        </span>
      </div>
      <div class="rectangle-7">
      </div>
    </div>
  </body>
</html>