.admin-home {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 100vw;
  box-sizing: border-box;
  margin: -10px;
}

.admin-home .sidebar {
  border-right: 1px solid #90C3DB;
  background: #90C3DB;
  display: flex;
  flex-direction: column;
  padding: 16.5px 16px 561px 15px;
  box-sizing: border-box;
}

.admin-home .sidebar .container-header {
  margin: 0 9px 9px 9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.admin-home .sidebar .container-header .title{
  margin: 0 5.8px 10.5px 0;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  background: linear-gradient(90deg, #004173, #007BD9);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.admin-home .list {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.admin-home .menu-title {
  border-radius: 8px;
  margin: 0 16px 7px 16px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;

  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.admin-home .menu-item {
  border-radius: 8px;
  background: rgba(247, 247, 247, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}

.admin-home .vector {
  margin: 0 16px 0px 0;
  width: 25px;
  height: 25px;
}

.admin-home .link {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
}

.admin-home .container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  width: 80vw;
  box-sizing: border-box;
}

.admin-home .container-content .container-header {
  background: linear-gradient(90deg, #0979B0, rgba(4, 51, 74, 0.95));
  position: relative;
  margin-bottom: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16.2px 54px 16px 30.9px;
  width: 100%;
  box-sizing: border-box;
}

.admin-home .container-content .container-header .title {
  margin: 0 16px 8px 16px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}


.admin-home .portal-do-admin {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 45px;
  letter-spacing: -0.9px;
  line-height: 1.1;
  color: #E5E5E5;
}

.admin-home .container-posts {
  margin: 0 20px 51px 20px;
  display: flex;
  flex-direction: row;
  width: 75vw;
  box-sizing: border-box;
}

.admin-home .anuncio{
  margin: 0px 5px 0px 0px ;
}

.admin-home .anuncio img{
  width: 100%;
  height: auto;
  
}

.admin-home .container-2 .title {
  margin: 5px auto;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 35px;
  line-height: 1.5;
  color: #000000;
}

.admin-home .container-relatorio {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #E0E0E0;
}

.admin-home .descricao {
  margin-bottom: 1.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #E0E0E0;
}

.admin-home .container-2 {
  background: #0277BD;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 13.5px 0 39px 26px;
  width: 70vw;
  box-sizing: border-box;
  margin: 30px 0px 20px ;
}

.deletar{
  border-radius: 8px;
  background: rgba(247, 247, 247, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

.admin-home .solicitacoes-recentes {
  margin: 0 0 28.5px 52.6px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 35px;
  line-height: 1.5;
  color: #000000;
}

.admin-home .container-solicitacoes {
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.admin-home .announcement {
  margin: 6.3px 24.1px 0 0;
  display: flex;
  width: 39.2px;
  height: 32.5px;
  box-sizing: border-box;
}

.admin-home .content {
  margin: 30px 54px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 10%;
}
.admin-home .footer {
  background: linear-gradient(90deg, rgba(4, 51, 74, 0.95), rgba(4, 58, 84, 0.95), rgba(9, 121, 176, 0.95));
  margin-right: 9px;
  width: 100%;
  height: 131px;
}


