{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aluno - quadro de horários</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/aluno/aluno_quadro_horarios.css' %}" />
  </head>
  <body>
    <div class="aluno-quadro-horarios">
      <div class="container-header">
        <div class="container-logo">
          <span class="title">
          Universidade Utopia 
          </span>
          <img class="logo" src="{% static 'images/logo.png' %}" />
        </div>
        <div class="container-13">
          <div class="container-options">
            <img class="options-icon" src="{% static 'images/local.png' %}" />
            <img class="options-icon" src="{% static 'images/usuario.png' %}" />
            <img class="options-icon" src="{% static 'images/help.png' %}" />
          </div>
          <div class="line">
          </div>
        </div>
      </div>
        <div class="container-main">
          <div class="sidebar">
            <div class="list">
            <div class="menu-item">
              <img src="{% static 'images/home.png' %}" style="width: 25px; height: 25px;" />
              <a href="/aluno/" class="link">Home</a>
            </div>
              <div class="menu-item">
                <img src="{% static 'images/aluno.png' %}" style="width: 25px; height: 25px;" />
                <a href="" class="link">Quadro de horários</a>
              </div>
            <div class="menu-item">
                <img src="{% static 'images/disciplinas.png' %}" style="width: 25px; height: 25px;" />
                <a href="/aluno/disciplinas/" class="link">Disciplinas</a>
            </div>
            <div class="menu-item">
              <img src="{% static 'images/logout.png' %}" style="width: 25px; height: 25px;" />
              <a href="/" class="link">Sair</a>
            </div>
          </div>
          </div>
          <div class="container-content">
              <div class="container-quadro">
                <div class="title">
                Quadro de Horários 
                </div>
                <div class="container-6">
                  <table class="container-content">
                    <thead>
                      <tr class="container-descricao">
                        <td class="descricao-1">Curso: Bacharelado em Sistemas de Informação </td>
                        <td class="descricao-1">Semestre: 5º</td>
                      </tr>
                      <tr class="container-descricao">
                        <td class="descricao-2">Período: 2024.1</td>
                        <td class="descricao-2">Turma: FES030131</td>
                        <td class="descricao-2">Turno: Matutino </td>
                        <td class="descricao-2">Matrícula: 123982198 </td>
                      </tr>
                    </thead>
                    <tbody class="container">
                    <tr class="container-dias">
                      <td class="dia">Horários</td>
                      <td class="dia">Segunda</td>
                      <td class="dia">Terça</td>
                      <td class="dia">Quarta</td>
                      <td class="dia">Quinta</td>
                      <td class="dia">Sexta</td>
                      <td class="dia">Sábado</td>
                    </tr>
                    <tr class="container-time">
                      <td class="time">07:30 às 09:10</td>
                      <td class="text">Estrutura de Dados</td>
                      <td class="text">Jogos Digitais</td>
                      <td class="text">Análise Orientada a Objeto</td>
                      <td class="text">Desenvolvimento Web</td>
                      <td class="text"></td>
                      <td class="text"></td>
                    </tr>
                    <tr class="container-time">
                      <td class="time">09:10 às 10:00</td>
                      <td class="text">Estrutura de Dados</td>
                      <td class="text">Jogos Digitais</td>
                      <td class="text">Análise Orientada a Objeto</td>
                      <td class="text">Desenvolvimento Web</td>
                      <td class="text"></td>
                      <td class="text"></td>
                    </tr>
                    <tr class="container-time">
                      <td class="time">10:10 às 11:00</td>
                      <td class="text">Estrutura de Dados</td>
                      <td class="text">Jogos Digitais</td>
                      <td class="text">Análise Orientada a Objeto</td>
                      <td class="text">Desenvolvimento Web</td>
                      <td class="text"></td>
                      <td class="text"></td>
                    </tr>
                    <tr class="container-time">
                      <td class="time">11:00 às 12:20</td>
                      <td class="text">Estrutura de Dados</td>
                      <td class="text">Jogos Digitais</td>
                      <td class="text">Análise Orientada a Objeto</td>
                      <td class="text">Desenvolvimento Web</td>
                      <td class="text"></td>
                      <td class="text"></td>
                    </tr>
                  </tbody>
                  </table>
                </div>
              </div>  
          </div>
        </div>
    </div>
  </body>
</html>