{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - alunos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/admin_alunos.css' %}" />
  </head>
  <body>
    <div class="admin-alunos">
      <div class="container">
        <div class="container-1">
          <div class="bytesizeoptions">
            <img class="vector" src="../assets/vectors/vector_92_x2.svg" />
          </div>
          <div class="title">
            <span class="portal-do-admin">
            Portal do admin
            </span>
          </div>
        </div>
        
        <div class="sidebar">
          <div class="container-10">
            <div class="title-2">
            Universidade Utopia 
            </div>
            <div class="streamlineglobal-learning">
              <img class="logo" src="{% static 'images/logo.png' %}" />
            </div>
          </div>
          <div class="list">
            <div class="menu-item">
              <span class="discover">
              Discover
              </span>
            </div>
            <div class="menu-item-1">
              <img class="home" src="../assets/vectors/home_1_x2.svg" />
              <span class="home-1">
              Home
              <a href="/admin/" class="link">Home</a>
              </span>
            </div>
            <div class="group-2">
              <div class="menu-item-2">
                <img class="vector-3" src="../assets/vectors/vector_3_x2.svg" />
                <span class="alunos">
                Alunos
                </span>
              </div>
            </div>
            <div class="menu-item-3">
              <div class="phchalkboard-teacher-light">
                <img class="vector-4" src="../assets/vectors/vector_24_x2.svg" />
              </div>
              <span class="professores">
              Professores
              </span>
            </div>
          </div>
          <div class="list-1">
            <div class="title-1">
              <span class="biblioteca">
              Biblioteca
              </span>
            </div>
            <div class="menu-item-4">
              <div class="icoutline-class">
                <img class="vector-5" src="..assets/images/disciplinas.png" />
              </div>
              <span class="disciplinas">
              Disciplinas
              </span>
            </div>
            <div class="group-3">
              <div class="menu-item-5">
                <div class="material-symbolsgroup-outline">
                  <img class="vector-6" src="../assets/vectors/vector_13_x2.svg" />
                </div>
                <span class="turmas">
                Turmas
                </span>
              </div>
            </div>
            <div class="group-4">
              <div class="menu-item-6">
                <img class="vector-7" src="../assets/vectors/vector_52_x2.svg" />
                <span class="relatorios">
                Relatórios
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="alunos-1">
        Alunos
        </div>
        <div class="container-8">
          <div class="container-5">
            <span class="buscar">
            Buscar
            </span>
          </div>
          <div class="container-9">
            <span class="turma">
            Turma
            </span>
            <div class="group-1">
              <img class="vector-11" src="../assets/vectors/vector_58_x2.svg" />
            </div>
          </div>
          <div class="container-3">
            <span class="data-de-admisso">
            Data de Admissão
            </span>
            <div class="mdicalendar-outline">
              <img class="vector-13" src="../assets/vectors/vector_27_x2.svg" />
            </div>
          </div>
          <div class="container-2">
            <span class="disciplina">
            Disciplina
            </span>
            <div class="group-2">
              <img class="vector-12" src="../assets/vectors/vector_44_x2.svg" />
            </div>
          </div>
        </div>
        <div class="group-8">
          
          <span class="matricula-132400232">
          Matricula: 
          </span>
          <span class="nome-fulaninho-da-silva-junqueira">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-030131">
          Turma: Fes030131
          </span>
        </div>
        <div class="group-9">
          <div class="rectangle-14">
          </div>
          <span class="matricula-1324002321">
          Matricula: 132400232
          </span>
          <span class="nome-fulaninho-da-silva-junqueira-1">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-0301311">
          Turma: Fes030131
          </span>
        </div>
        <div class="group-10">
          <div class="rectangle-141">
          </div>
          <span class="matricula-1324002322">
          Matricula: 132400232
          </span>
          <span class="nome-fulaninho-da-silva-junqueira-2">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-0301312">
          Turma: Fes030131
          </span>
        </div>
        <div class="group-11">
          <div class="rectangle-142">
          </div>
          <span class="matricula-1324002323">
          Matricula: 132400232
          </span>
          <span class="nome-fulaninho-da-silva-junqueira-3">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-0301313">
          Turma: Fes030131
          </span>
        </div>
        <div class="group-12">
          <div class="rectangle-143">
          </div>
          <span class="matricula-1324002324">
          Matricula: 132400232
          </span>
          <span class="nome-fulaninho-da-silva-junqueira-4">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-0301314">
          Turma: Fes030131
          </span>
        </div>
        <div class="group-13">
          <div class="rectangle-144">
          </div>
          <span class="matricula-1324002325">
          Matricula: 132400232
          </span>
          <span class="nome-fulaninho-da-silva-junqueira-5">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-0301315">
          Turma: Fes030131
          </span>
        </div>
        <div class="group-14">
          <div class="rectangle-145">
          </div>
          <span class="matricula-1324002326">
          Matricula: 132400232
          </span>
          <span class="nome-fulaninho-da-silva-junqueira-6">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-0301316">
          Turma: Fes030131
          </span>
        </div>
        <div class="group-15">
          <div class="rectangle-146">
          </div>
          <span class="matricula-1324002327">
          Matricula: 132400232
          </span>
          <span class="nome-fulaninho-da-silva-junqueira-7">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-0301317">
          Turma: Fes030131
          </span>
        </div>
        <div class="group-16">
          <div class="rectangle-147">
          </div>
          <span class="matricula-1324002328">
          Matricula: 132400232
          </span>
          <span class="nome-fulaninho-da-silva-junqueira-8">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-0301318">
          Turma: Fes030131
          </span>
        </div>
        <div class="group-17">
          <div class="rectangle-148">
          </div>
          <span class="matricula-1324002329">
          Matricula: 132400232
          </span>
          <span class="nome-fulaninho-da-silva-junqueira-9">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-0301319">
          Turma: Fes030131
          </span>
        </div>
        <div class="group-18">
          <div class="rectangle-149">
          </div>
          <span class="matricula-13240023210">
          Matricula: 132400232
          </span>
          <span class="nome-fulaninho-da-silva-junqueira-10">
          Nome: Fulaninho da Silva Junqueira
          </span>
          <span class="turma-fes-03013110">
          Turma: Fes030131
          </span>
        </div>
        <div class="container-6">
          <div class="container-11">
            <div class="group-19">
              <div class="rectangle-1410">
              </div>
              <span class="matricula-13240023211">
              Matricula: 132400232
              </span>
              <span class="nome-fulaninho-da-silva-junqueira-11">
              Nome: Fulaninho da Silva Junqueira
              </span>
              <span class="turma-fes-03013111">
              Turma: Fes030131
              </span>
            </div>
            <div class="container-4">
              <img class="carbonresult" src="../assets/vectors/carbonresult_1_x2.svg" />
            </div>
            <div class="container-7">
              <div class="icbaseline-plus">
                <img class="vector-16" src="../assets/vectors/vector_42_x2.svg" />
              </div>
            </div>
          </div>
          <div class="rectangle-23">
          </div>
        </div>
        <div class="rectangle-1">
        </div>
      </div>
      
    </div>
  </body>
</html>