{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - disciplinas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/admin_disciplinas.css' %}" />
  </head>
  <body>
    <div class="admin-disciplinas">
      <div class="container-11">
        <div class="container-2">
          <div class="bytesizeoptions">
            <img class="vector" src="../assets/vectors/vector_81_x2.svg" />
          </div>
          <div class="title">
            <span class="portal-do-admin">
            Portal do admin
            </span>
          </div>
        </div>

        <div class="sidebar">
          <div class="container-16">
            <div class="title-2">
            Universidade Utopia 
            </div>
            <div class="streamlineglobal-learning">
              <img class="logo" src="{% static 'images/logo.png' %}" />
            </div>
          </div>
          <div class="list">
            <div class="menu-item">
              <span class="discover">
              Discover
              </span>
            </div>
            <div class="menu-item-1">
              <img class="home" src="../assets/vectors/home_10_x2.svg" />
              <span class="home-1">
              Home
              </span>
            </div>
            <div class="group-2">
              <div class="menu-item-2">
                <img class="vector-3" src="../assets/vectors/vector_54_x2.svg" />
                <span class="alunos">
                Alunos
                </span>
              </div>
            </div>
            <div class="menu-item-3">
              <div class="phchalkboard-teacher-light">
                <img class="vector-4" src="../assets/vectors/vector_18_x2.svg" />
              </div>
              <span class="professores">
              Professores
              </span>
            </div>
          </div>
          <div class="list-1">
            <div class="title-1">
              <span class="biblioteca">
              Biblioteca
              </span>
            </div>
            <div class="menu-item-4">
              <div class="icoutline-class">
                <img class="vector-5" src="..assets/images/disciplinas.png" />
              </div>
              <span class="disciplinas">
              Disciplinas
              </span>
            </div>
            <div class="group-3">
              <div class="menu-item-5">
                <div class="material-symbolsgroup-outline">
                  <img class="vector-6" src="../assets/vectors/vector_85_x2.svg" />
                </div>
                <span class="turmas">
                Turmas
                </span>
              </div>
            </div>
            <div class="group-4">
              <div class="menu-item-6">
                <img class="vector-7" src="../assets/vectors/vector_108_x2.svg" />
                <span class="relatorios">
                Relatórios
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="disciplinas-1">
        Disciplinas
        </div>
        <div class="container-18">
          <div class="container-6">
            <span class="buscar">
            Buscar
            </span>
          </div>
          <div class="container-19">
            <span class="turma">
            Turma
            </span>
            <div class="group-1">
              <img class="vector-11" src="../assets/vectors/vector_46_x2.svg" />
            </div>
          </div>
          <div class="container-10">
            <span class="carga-horria">
            Carga horária
            </span>
            <div class="group-4">
              <img class="vector-37" src="../assets/vectors/vector_86_x2.svg" />
            </div>
          </div>
          <div class="container-5">
            <span class="turno">
            Turno
            </span>
            <div class="group-2">
              <img class="vector-12" src="../assets/vectors/vector_82_x2.svg" />
            </div>
          </div>
        </div>
        <div class="container-17">
          <span class="professor">
          Professor
          </span>
          <div class="group-3">
            <img class="vector-13" src="../assets/vectors/vector_66_x2.svg" />
          </div>
        </div>
        <div class="container-4">
          <div class="container-1">
            <div class="group-41">
              <div class="rectangle-13">
              </div>
              <div class="container-7">
                <div class="turma-fes-030131">
                Turma: Fes030131
                </div>
                <div class="disciplina-desenvolvimento-web">
                Disciplina: Desenvolvimento Web
                </div>
                <div class="turno-manh">
                Turno: Manhã
                </div>
                <div class="professor-ciclaninho-p">
                Professor: Ciclaninho P.
                </div>
              </div>
            </div>
            <div class="group-42">
              <div class="rectangle-131">
              </div>
              <div class="container-21">
                <div class="turma-fes-0301311">
                Turma: Fes030131
                </div>
                <div class="disciplina-desenvolvimento-web-1">
                Disciplina: Desenvolvimento Web
                </div>
                <div class="turno-tarde">
                Turno: Tarde
                </div>
                <div class="professor-ciclaninho-p-1">
                Professor: Ciclaninho P.
                </div>
              </div>
            </div>
            <div class="group-43">
              <div class="rectangle-132">
              </div>
              <div class="container">
                <span class="turma-fes-0301312">
                Turma: Fes030131
                </span>
                <span class="disciplina-desenvolvimento-web-2">
                Disciplina: Desenvolvimento Web
                </span>
                <span class="turno-noturno">
                Turno: Noturno
                </span>
                <span class="professor-ciclaninho-p-2">
                Professor: Ciclaninho P.
                </span>
              </div>
            </div>
            <div class="group-44">
              <div class="rectangle-133">
              </div>
              <div class="container-3">
                <span class="turma-fes-0301313">
                Turma: Fes030131
                </span>
                <span class="disciplina-desenvolvimento-web-3">
                Disciplina: Desenvolvimento Web
                </span>
                <span class="turno-manh-1">
                Turno: Manhã
                </span>
                <span class="professor-ciclaninho-p-3">
                Professor: Ciclaninho P.
                </span>
              </div>
            </div>
            <div class="group-45">
              <div class="rectangle-134">
              </div>
              <div class="container-23">
                <span class="turma-fes-0301314">
                Turma: Fes030131
                </span>
                <span class="disciplina-desenvolvimento-web-4">
                Disciplina: Desenvolvimento Web
                </span>
                <span class="turno-tarde-1">
                Turno: Tarde
                </span>
                <span class="professor-ciclaninho-p-4">
                Professor: Ciclaninho P.
                </span>
              </div>
            </div>
            <div class="group-46">
              <div class="rectangle-135">
              </div>
              <div class="container-12">
                <span class="turma-fes-0301315">
                Turma: Fes030131
                </span>
                <span class="disciplina-jogos-digitais">
                Disciplina: Jogos Digitais
                </span>
                <span class="turno-noturno-1">
                Turno: Noturno
                </span>
                <span class="professor-ciclaninho-p-5">
                Professor: Ciclaninho P.
                </span>
              </div>
            </div>
            <div class="group-47">
              <div class="rectangle-136">
              </div>
              <div class="container-9">
                <span class="turma-fes-0301316">
                Turma: Fes030131
                </span>
                <span class="disciplina-jogos-digitais-1">
                Disciplina: Jogos Digitais
                </span>
                <span class="turno-manh-2">
                Turno: Manhã
                </span>
                <span class="professor-ciclaninho-p-6">
                Professor: Ciclaninho P.
                </span>
              </div>
            </div>
            <div class="group-48">
              <div class="rectangle-137">
              </div>
              <div class="container-15">
                <span class="turma-fes-0301317">
                Turma: Fes030131
                </span>
                <span class="disciplina-jogos-digitais-2">
                Disciplina: Jogos Digitais
                </span>
                <span class="turno-tarde-2">
                Turno: Tarde
                </span>
                <span class="professor-ciclaninho-p-7">
                Professor: Ciclaninho P.
                </span>
              </div>
            </div>
            <div class="group-49">
              <div class="rectangle-138">
              </div>
              <div class="container-13">
                <span class="turma-fes-0301318">
                Turma: Fes030131
                </span>
                <span class="disciplina-jogos-digitais-3">
                Disciplina: Jogos Digitais
                </span>
                <span class="turno-noturno-2">
                Turno: Noturno
                </span>
                <span class="professor-ciclaninho-p-8">
                Professor: Ciclaninho P.
                </span>
              </div>
            </div>
            <div class="group-50">
              <div class="rectangle-139">
              </div>
              <div class="container-20">
                <span class="turma-fes-0301319">
                Turma: Fes030131
                </span>
                <span class="disciplina-jogos-digitais-4">
                Disciplina: Jogos Digitais
                </span>
                <span class="turno-manh-3">
                Turno: Manhã
                </span>
                <span class="professor-ciclaninho-p-9">
                Professor: Ciclaninho P.
                </span>
              </div>
            </div>
          </div>
          <div class="group-40">
            <div class="group-30">
              <img class="group-29" src="../assets/vectors/group_2937_x2.svg" />
            </div>
            <div class="group-31">
              <img class="group-291" src="../assets/vectors/group_2950_x2.svg" />
            </div>
            <div class="group-32">
              <img class="group-292" src="../assets/vectors/group_2921_x2.svg" />
            </div>
            <div class="group-33">
              <img class="group-293" src="../assets/vectors/group_2930_x2.svg" />
            </div>
            <div class="group-34">
              <img class="group-294" src="../assets/vectors/group_291_x2.svg" />
            </div>
            <div class="group-35">
              <img class="group-295" src="../assets/vectors/group_2948_x2.svg" />
            </div>
            <div class="group-36">
              <img class="group-296" src="../assets/vectors/group_2928_x2.svg" />
            </div>
            <div class="group-37">
              <img class="group-297" src="../assets/vectors/group_2917_x2.svg" />
            </div>
            <div class="group-38">
              <img class="group-298" src="../assets/vectors/group_2910_x2.svg" />
            </div>
            <div class="group-39">
              <img class="group-299" src="../assets/vectors/group_2945_x2.svg" />
            </div>
          </div>
        </div>
        <div class="container-14">
          <div class="rectangle-23">
          </div>
          <div class="container-22">
            <img class="carbonresult" src="../assets/vectors/carbonresult_3_x2.svg" />
          </div>
          <div class="container-8">
            <div class="icbaseline-plus">
              <img class="vector-16" src="../assets/vectors/vector_15_x2.svg" />
            </div>
          </div>
        </div>
        <div class="rectangle-1">
        </div>
      </div>
      <div class="sidebar">
        <div class="container-16">
          <div class="title-2">
          Universidade Utopia 
          </div>
          <div class="streamlineglobal-learning">
            <img class="group" src="../assets/vectors/group_23_x2.svg" />
          </div>
        </div>
        <div class="list">
          <div class="menu-item">
            <span class="discover">
            Discover
            </span>
          </div>
          <div class="menu-item-1">
            <img class="home" src="../assets/vectors/home_10_x2.svg" />
            <span class="home-1">
            Home
            </span>
          </div>
          <div class="group-2">
            <div class="menu-item-2">
              <img class="vector-3" src="../assets/vectors/vector_54_x2.svg" />
              <span class="alunos">
              Alunos
              </span>
            </div>
          </div>
          <div class="menu-item-3">
            <div class="phchalkboard-teacher-light">
              <img class="vector-4" src="../assets/vectors/vector_18_x2.svg" />
            </div>
            <span class="professores">
            Professores
            </span>
          </div>
        </div>
        <div class="list-1">
          <div class="title-1">
            <span class="biblioteca">
            Biblioteca
            </span>
          </div>
          <div class="menu-item-4">
            <div class="icoutline-class">
              <img class="vector-5" src="..assets/images/disciplinas.png" />
            </div>
            <span class="disciplinas">
            Disciplinas
            </span>
          </div>
          <div class="group-3">
            <div class="menu-item-5">
              <div class="material-symbolsgroup-outline">
                <img class="vector-6" src="../assets/vectors/vector_85_x2.svg" />
              </div>
              <span class="turmas">
              Turmas
              </span>
            </div>
          </div>
          <div class="group-4">
            <div class="menu-item-6">
              <img class="vector-7" src="../assets/vectors/vector_108_x2.svg" />
              <span class="relatorios">
              Relatórios
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>