<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - turmas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="admin_turmas.css" />
  </head>
  <body>
    <div class="admin-turmas">
      <div class="container-9">
        <div class="container-15">
          <div class="bytesizeoptions">
            <img class="vector-53" src="../assets/vectors/vector_47_x2.svg" />
          </div>
          <div class="title">
            <span class="portal-do-admin">
            Portal do admin
            </span>
          </div>
        </div>
        <div class="turmas-1">
        Turmas
        </div>
        <div class="container-32">
          <div class="container-36">
            <span class="buscar-2">
            Buscar
            </span>
            <div class="container-6">
              <span class="buscar">
              Buscar
              </span>
              <div class="container-21">
                <span class="buscar-3">
                Buscar
                </span>
                <div class="container-27">
                  <span class="buscar-1">
                  Buscar
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="container-47">
            <div class="container-8">
              <span class="sala-2">
              Sala
              </span>
              <div class="group-5">
                <img class="vector-84" src="../assets/vectors/vector_63_x2.svg" />
              </div>
            </div>
            <div class="container-60">
              <div class="container-10">
                <span class="sala">
                Sala
                </span>
                <div class="group">
                  <img class="vector-23" src="../assets/vectors/vector_73_x2.svg" />
                </div>
              </div>
              <div class="container-13">
                <div class="container-12">
                  <span class="sala-3">
                  Sala
                  </span>
                  <div class="group-7">
                    <img class="vector-109" src="../assets/vectors/vector_10_x2.svg" />
                  </div>
                </div>
                <div class="container-50">
                  <span class="sala-1">
                  Sala
                  </span>
                  <div class="group-2">
                    <img class="vector-48" src="../assets/vectors/vector_74_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-7">
            <div class="container-41">
              <span class="perodo-2">
              Período
              </span>
              <div class="group-6">
                <img class="vector-85" src="../assets/vectors/vector_37_x2.svg" />
              </div>
            </div>
            <div class="container-26">
              <div class="container-48">
                <span class="perodo">
                Período
                </span>
                <div class="group-1">
                  <img class="vector-24" src="../assets/vectors/vector_97_x2.svg" />
                </div>
              </div>
              <div class="container-57">
                <div class="container-22">
                  <span class="perodo-3">
                  Período
                  </span>
                  <div class="group-8">
                    <img class="vector-110" src="../assets/vectors/vector_32_x2.svg" />
                  </div>
                </div>
                <div class="container-52">
                  <span class="perodo-1">
                  Período
                  </span>
                  <div class="group-3">
                    <img class="vector-49" src="../assets/vectors/vector_79_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-28">
          <div class="group-40">
            <div class="group-192">
              <div class="rectangle-1424">
              </div>
              <div class="container-3">
                <span class="turma-fes-03013124">
                Turma: Fes030131
                </span>
                <span class="sala-0625">
                Sala: 06
                </span>
                <span class="perodo-425">
                Período: 4
                </span>
                <span class="quantidade-de-alunos-2025">
                Quantidade de alunos: 20
                </span>
              </div>
              <div class="group-19">
                <div class="rectangle-144">
                </div>
                <div class="container-56">
                  <span class="turma-fes-0301314">
                  Turma: Fes030131
                  </span>
                  <span class="sala-065">
                  Sala: 06
                  </span>
                  <span class="perodo-45">
                  Período: 4
                  </span>
                  <span class="quantidade-de-alunos-205">
                  Quantidade de alunos: 20
                  </span>
                </div>
                <div class="group-193">
                  <div class="rectangle-1434">
                  </div>
                  <div class="container-38">
                    <span class="turma-fes-03013134">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0635">
                    Sala: 06
                    </span>
                    <span class="perodo-435">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2035">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                  <div class="group-191">
                    <div class="rectangle-1414">
                    </div>
                    <span class="turma-fes-03013114">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0615">
                    Sala: 06
                    </span>
                    <span class="perodo-415">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2015">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-202">
              <div class="rectangle-1425">
              </div>
              <div class="container-30">
                <span class="turma-fes-03013125">
                Turma: Fes030131
                </span>
                <span class="sala-0626">
                Sala: 06
                </span>
                <span class="perodo-426">
                Período: 4
                </span>
                <span class="quantidade-de-alunos-2026">
                Quantidade de alunos: 20
                </span>
              </div>
              <div class="group-20">
                <div class="rectangle-145">
                </div>
                <div class="container">
                  <span class="turma-fes-0301315">
                  Turma: Fes030131
                  </span>
                  <span class="sala-066">
                  Sala: 06
                  </span>
                  <span class="perodo-46">
                  Período: 4
                  </span>
                  <span class="quantidade-de-alunos-206">
                  Quantidade de alunos: 20
                  </span>
                </div>
                <div class="group-203">
                  <div class="rectangle-1435">
                  </div>
                  <div class="container-29">
                    <span class="turma-fes-03013135">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0636">
                    Sala: 06
                    </span>
                    <span class="perodo-436">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2036">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                  <div class="group-201">
                    <div class="rectangle-1415">
                    </div>
                    <span class="turma-fes-03013115">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0616">
                    Sala: 06
                    </span>
                    <span class="perodo-416">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2016">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-212">
              <div class="rectangle-1426">
              </div>
              <div class="container-18">
                <span class="turma-fes-03013126">
                Turma: Fes030131
                </span>
                <span class="sala-0627">
                Sala: 06
                </span>
                <span class="perodo-427">
                Período: 4
                </span>
                <span class="quantidade-de-alunos-2027">
                Quantidade de alunos: 20
                </span>
              </div>
              <div class="group-21">
                <div class="rectangle-146">
                </div>
                <div class="container-25">
                  <span class="turma-fes-0301316">
                  Turma: Fes030131
                  </span>
                  <span class="sala-067">
                  Sala: 06
                  </span>
                  <span class="perodo-47">
                  Período: 4
                  </span>
                  <span class="quantidade-de-alunos-207">
                  Quantidade de alunos: 20
                  </span>
                </div>
                <div class="group-213">
                  <div class="rectangle-1436">
                  </div>
                  <div class="container-49">
                    <span class="turma-fes-03013136">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0637">
                    Sala: 06
                    </span>
                    <span class="perodo-437">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2037">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                  <div class="group-211">
                    <div class="rectangle-1416">
                    </div>
                    <span class="turma-fes-03013116">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0617">
                    Sala: 06
                    </span>
                    <span class="perodo-417">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2017">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-222">
              <div class="rectangle-1427">
              </div>
              <div class="container-40">
                <span class="turma-fes-03013127">
                Turma: Fes030131
                </span>
                <span class="sala-0628">
                Sala: 06
                </span>
                <span class="perodo-428">
                Período: 4
                </span>
                <span class="quantidade-de-alunos-2028">
                Quantidade de alunos: 20
                </span>
              </div>
              <div class="group-22">
                <div class="rectangle-147">
                </div>
                <div class="container-59">
                  <span class="turma-fes-0301317">
                  Turma: Fes030131
                  </span>
                  <span class="sala-068">
                  Sala: 06
                  </span>
                  <span class="perodo-48">
                  Período: 4
                  </span>
                  <span class="quantidade-de-alunos-208">
                  Quantidade de alunos: 20
                  </span>
                </div>
                <div class="group-223">
                  <div class="rectangle-1437">
                  </div>
                  <div class="container-4">
                    <span class="turma-fes-03013137">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0638">
                    Sala: 06
                    </span>
                    <span class="perodo-438">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2038">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                  <div class="group-221">
                    <div class="rectangle-1417">
                    </div>
                    <span class="turma-fes-03013117">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0618">
                    Sala: 06
                    </span>
                    <span class="perodo-418">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2018">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-232">
              <div class="rectangle-1428">
              </div>
              <div class="container-11">
                <span class="turma-fes-03013128">
                Turma: Fes030131
                </span>
                <span class="sala-0629">
                Sala: 06
                </span>
                <span class="perodo-429">
                Período: 4
                </span>
                <span class="quantidade-de-alunos-2029">
                Quantidade de alunos: 20
                </span>
              </div>
              <div class="group-23">
                <div class="rectangle-148">
                </div>
                <div class="container-17">
                  <span class="turma-fes-0301318">
                  Turma: Fes030131
                  </span>
                  <span class="sala-069">
                  Sala: 06
                  </span>
                  <span class="perodo-49">
                  Período: 4
                  </span>
                  <span class="quantidade-de-alunos-209">
                  Quantidade de alunos: 20
                  </span>
                </div>
                <div class="group-233">
                  <div class="rectangle-1438">
                  </div>
                  <div class="container-16">
                    <span class="turma-fes-03013138">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0639">
                    Sala: 06
                    </span>
                    <span class="perodo-439">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2039">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                  <div class="group-231">
                    <div class="rectangle-1418">
                    </div>
                    <span class="turma-fes-03013118">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0619">
                    Sala: 06
                    </span>
                    <span class="perodo-419">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2019">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-242">
              <div class="rectangle-1429">
              </div>
              <div class="container-24">
                <span class="turma-fes-03013129">
                Turma: Fes030131
                </span>
                <span class="sala-0630">
                Sala: 06
                </span>
                <span class="perodo-430">
                Período: 4
                </span>
                <span class="quantidade-de-alunos-2030">
                Quantidade de alunos: 20
                </span>
              </div>
              <div class="group-24">
                <div class="rectangle-149">
                </div>
                <div class="container-33">
                  <span class="turma-fes-0301319">
                  Turma: Fes030131
                  </span>
                  <span class="sala-0610">
                  Sala: 06
                  </span>
                  <span class="perodo-410">
                  Período: 4
                  </span>
                  <span class="quantidade-de-alunos-2010">
                  Quantidade de alunos: 20
                  </span>
                </div>
                <div class="group-243">
                  <div class="rectangle-1439">
                  </div>
                  <div class="container-31">
                    <span class="turma-fes-03013139">
                    Turma: Fes030131
                    </span>
                    <span class="sala-06">
                    Sala: 06
                    </span>
                    <span class="perodo-4">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-20">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                  <div class="group-241">
                    <div class="rectangle-1419">
                    </div>
                    <span class="turma-fes-03013119">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0620">
                    Sala: 06
                    </span>
                    <span class="perodo-420">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2020">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-253">
              <div class="rectangle-1430">
              </div>
              <div class="container-14">
                <span class="turma-fes-03013130">
                Turma: Fes030131
                </span>
                <span class="sala-0631">
                Sala: 06
                </span>
                <span class="perodo-431">
                Período: 4
                </span>
                <span class="quantidade-de-alunos-2031">
                Quantidade de alunos: 20
                </span>
              </div>
              <div class="group-251">
                <div class="rectangle-1410">
                </div>
                <div class="container-54">
                  <span class="turma-fes-03013110">
                  Turma: Fes030131
                  </span>
                  <span class="sala-0611">
                  Sala: 06
                  </span>
                  <span class="perodo-411">
                  Período: 4
                  </span>
                  <span class="quantidade-de-alunos-2011">
                  Quantidade de alunos: 20
                  </span>
                </div>
                <div class="group-25">
                  <div class="rectangle-14">
                  </div>
                  <div class="container-23">
                    <span class="turma-fes-030131">
                    Turma: Fes030131
                    </span>
                    <span class="sala-061">
                    Sala: 06
                    </span>
                    <span class="perodo-41">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-201">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                  <div class="group-252">
                    <div class="rectangle-1420">
                    </div>
                    <span class="turma-fes-03013120">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0621">
                    Sala: 06
                    </span>
                    <span class="perodo-421">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2021">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-263">
              <div class="rectangle-1431">
              </div>
              <div class="container-39">
                <span class="turma-fes-03013131">
                Turma: Fes030131
                </span>
                <span class="sala-0632">
                Sala: 06
                </span>
                <span class="perodo-432">
                Período: 4
                </span>
                <span class="quantidade-de-alunos-2032">
                Quantidade de alunos: 20
                </span>
              </div>
              <div class="group-261">
                <div class="rectangle-1411">
                </div>
                <div class="container-51">
                  <span class="turma-fes-03013111">
                  Turma: Fes030131
                  </span>
                  <span class="sala-0612">
                  Sala: 06
                  </span>
                  <span class="perodo-412">
                  Período: 4
                  </span>
                  <span class="quantidade-de-alunos-2012">
                  Quantidade de alunos: 20
                  </span>
                </div>
                <div class="group-26">
                  <div class="rectangle-141">
                  </div>
                  <div class="container-45">
                    <span class="turma-fes-0301311">
                    Turma: Fes030131
                    </span>
                    <span class="sala-062">
                    Sala: 06
                    </span>
                    <span class="perodo-42">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-202">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                  <div class="group-262">
                    <div class="rectangle-1421">
                    </div>
                    <span class="turma-fes-03013121">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0622">
                    Sala: 06
                    </span>
                    <span class="perodo-422">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2022">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-273">
              <div class="rectangle-1432">
              </div>
              <div class="container-46">
                <span class="turma-fes-03013132">
                Turma: Fes030131
                </span>
                <span class="sala-0633">
                Sala: 06
                </span>
                <span class="perodo-433">
                Período: 4
                </span>
                <span class="quantidade-de-alunos-2033">
                Quantidade de alunos: 20
                </span>
              </div>
              <div class="group-271">
                <div class="rectangle-1412">
                </div>
                <div class="container-35">
                  <span class="turma-fes-03013112">
                  Turma: Fes030131
                  </span>
                  <span class="sala-0613">
                  Sala: 06
                  </span>
                  <span class="perodo-413">
                  Período: 4
                  </span>
                  <span class="quantidade-de-alunos-2013">
                  Quantidade de alunos: 20
                  </span>
                </div>
                <div class="group-27">
                  <div class="rectangle-142">
                  </div>
                  <div class="container-2">
                    <span class="turma-fes-0301312">
                    Turma: Fes030131
                    </span>
                    <span class="sala-063">
                    Sala: 06
                    </span>
                    <span class="perodo-43">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-203">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                  <div class="group-272">
                    <div class="rectangle-1422">
                    </div>
                    <span class="turma-fes-03013122">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0623">
                    Sala: 06
                    </span>
                    <span class="perodo-423">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2023">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-283">
              <div class="rectangle-1433">
              </div>
              <div class="container-34">
                <span class="turma-fes-03013133">
                Turma: Fes030131
                </span>
                <span class="sala-0634">
                Sala: 06
                </span>
                <span class="perodo-434">
                Período: 4
                </span>
                <span class="quantidade-de-alunos-2034">
                Quantidade de alunos: 20
                </span>
              </div>
              <div class="group-281">
                <div class="rectangle-1413">
                </div>
                <div class="container-5">
                  <span class="turma-fes-03013113">
                  Turma: Fes030131
                  </span>
                  <span class="sala-0614">
                  Sala: 06
                  </span>
                  <span class="perodo-414">
                  Período: 4
                  </span>
                  <span class="quantidade-de-alunos-2014">
                  Quantidade de alunos: 20
                  </span>
                </div>
                <div class="group-28">
                  <div class="rectangle-143">
                  </div>
                  <div class="container-58">
                    <span class="turma-fes-0301313">
                    Turma: Fes030131
                    </span>
                    <span class="sala-064">
                    Sala: 06
                    </span>
                    <span class="perodo-44">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-204">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                  <div class="group-282">
                    <div class="rectangle-1423">
                    </div>
                    <span class="turma-fes-03013123">
                    Turma: Fes030131
                    </span>
                    <span class="sala-0624">
                    Sala: 06
                    </span>
                    <span class="perodo-424">
                    Período: 4
                    </span>
                    <span class="quantidade-de-alunos-2024">
                    Quantidade de alunos: 20
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group-401">
            <div class="group-302">
              <img class="group-2920" src="../assets/vectors/group_2935_x2.svg" />
              <div class="group-30">
                <img class="group-29" src="../assets/vectors/group_2926_x2.svg" />
                <div class="group-303">
                  <img class="group-2930" src="../assets/vectors/group_2941_x2.svg" />
                  <div class="group-301">
                    <img class="group-2910" src="../assets/vectors/group_2944_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="group-312">
              <img class="group-2921" src="../assets/vectors/group_294_x2.svg" />
              <div class="group-31">
                <img class="group-291" src="../assets/vectors/group_295_x2.svg" />
                <div class="group-313">
                  <img class="group-2931" src="../assets/vectors/group_2947_x2.svg" />
                  <div class="group-311">
                    <img class="group-2911" src="../assets/vectors/group_296_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="group-322">
              <img class="group-2922" src="../assets/vectors/group_2918_x2.svg" />
              <div class="group-32">
                <img class="group-292" src="../assets/vectors/group_2927_x2.svg" />
                <div class="group-323">
                  <img class="group-2932" src="../assets/vectors/group_2953_x2.svg" />
                  <div class="group-321">
                    <img class="group-2912" src="../assets/vectors/group_2931_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="group-332">
              <img class="group-2923" src="../assets/vectors/group_292_x2.svg" />
              <div class="group-33">
                <img class="group-293" src="../assets/vectors/group_2911_x2.svg" />
                <div class="group-333">
                  <img class="group-2933" src="../assets/vectors/group_2955_x2.svg" />
                  <div class="group-331">
                    <img class="group-2913" src="../assets/vectors/group_2961_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="group-342">
              <img class="group-2924" src="../assets/vectors/group_2932_x2.svg" />
              <div class="group-34">
                <img class="group-294" src="../assets/vectors/group_2938_x2.svg" />
                <div class="group-343">
                  <img class="group-2934" src="../assets/vectors/group_2949_x2.svg" />
                  <div class="group-341">
                    <img class="group-2914" src="../assets/vectors/group_2934_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="group-352">
              <img class="group-2925" src="../assets/vectors/group_2943_x2.svg" />
              <div class="group-35">
                <img class="group-295" src="../assets/vectors/group_2920_x2.svg" />
                <div class="group-353">
                  <img class="group-2935" src="../assets/vectors/group_2924_x2.svg" />
                  <div class="group-351">
                    <img class="group-2915" src="../assets/vectors/group_2929_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="group-362">
              <img class="group-2926" src="../assets/vectors/group_2915_x2.svg" />
              <div class="group-36">
                <img class="group-296" src="../assets/vectors/group_2957_x2.svg" />
                <div class="group-363">
                  <img class="group-2936" src="../assets/vectors/group_2925_x2.svg" />
                  <div class="group-361">
                    <img class="group-2916" src="../assets/vectors/group_2913_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="group-372">
              <img class="group-2927" src="../assets/vectors/group_2954_x2.svg" />
              <div class="group-37">
                <img class="group-297" src="../assets/vectors/group_2958_x2.svg" />
                <div class="group-373">
                  <img class="group-2937" src="../assets/vectors/group_2933_x2.svg" />
                  <div class="group-371">
                    <img class="group-2917" src="../assets/vectors/group_2916_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="group-382">
              <img class="group-2928" src="../assets/vectors/group_2923_x2.svg" />
              <div class="group-38">
                <img class="group-298" src="../assets/vectors/group_2951_x2.svg" />
                <div class="group-383">
                  <img class="group-2938" src="../assets/vectors/group_2939_x2.svg" />
                  <div class="group-381">
                    <img class="group-2918" src="../assets/vectors/group_299_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="group-392">
              <img class="group-2929" src="../assets/vectors/group_2919_x2.svg" />
              <div class="group-39">
                <img class="group-299" src="../assets/vectors/group_2952_x2.svg" />
                <div class="group-393">
                  <img class="group-2939" src="../assets/vectors/group_2946_x2.svg" />
                  <div class="group-391">
                    <img class="group-2919" src="../assets/vectors/group_293_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-43">
          <div class="container-20">
            <img class="carbonresult-3" src="../assets/vectors/carbonresult_x2.svg" />
            <div class="container-61">
              <img class="carbonresult-1" src="../assets/vectors/carbonresult_6_x2.svg" />
              <div class="container-53">
                <img class="carbonresult" src="../assets/vectors/carbonresult_2_x2.svg" />
                <div class="container-37">
                  <img class="carbonresult-2" src="../assets/vectors/carbonresult_4_x2.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="container-1">
            <div class="icbaseline-plus-3">
              <img class="vector-88" src="../assets/vectors/vector_71_x2.svg" />
            </div>
            <div class="container-55">
              <div class="icbaseline-plus-1">
                <img class="vector-27" src="../assets/vectors/vector_16_x2.svg" />
              </div>
              <div class="container-19">
                <div class="icbaseline-plus">
                  <img class="vector-2" src="../assets/vectors/vector_49_x2.svg" />
                </div>
                <div class="container-44">
                  <div class="icbaseline-plus-2">
                    <img class="vector-52" src="../assets/vectors/vector_69_x2.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rectangle-1">
        </div>
      </div>
      <div class="sidebar">
        <div class="container-42">
          <div class="title-2">
          Universidade Utopia 
          </div>
          <div class="streamlineglobal-learning">
            <img class="group-4" src="../assets/vectors/group_9_x2.svg" />
          </div>
        </div>
        <div class="list">
          <div class="menu-item">
            <span class="discover">
            Discover
            </span>
          </div>
          <div class="menu-item-1">
            <img class="home" src="../assets/vectors/home_x2.svg" />
            <span class="home-1">
            Home
            </span>
          </div>
          <div class="group-2">
            <div class="menu-item-2">
              <img class="vector-56" src="../assets/vectors/vector_70_x2.svg" />
              <span class="alunos">
              Alunos
              </span>
            </div>
          </div>
          <div class="menu-item-3">
            <div class="phchalkboard-teacher-light">
              <img class="vector-57" src="../assets/vectors/vector_5_x2.svg" />
            </div>
            <span class="professores">
            Professores
            </span>
          </div>
        </div>
        <div class="list-1">
          <div class="title-1">
            <span class="biblioteca">
            Biblioteca
            </span>
          </div>
          <div class="menu-item-4">
            <div class="icoutline-class">
              <img class="vector-58" src="../assets/vectors/vector_34_x2.svg" />
            </div>
            <span class="disciplinas">
            Disciplinas
            </span>
          </div>
          <div class="group-3">
            <div class="menu-item-5">
              <div class="material-symbolsgroup-outline">
                <img class="vector-59" src="../assets/vectors/vector_9_x2.svg" />
              </div>
              <span class="turmas">
              Turmas
              </span>
            </div>
          </div>
          <div class="group-4">
            <div class="menu-item-6">
              <img class="vector-60" src="../assets/vectors/vector_4_x2.svg" />
              <span class="relatrios">
              Relatórios
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>