{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_home.css' %}" />
  </head>
  <body>
    <div class="admin-home">
      <div class="sidebar">
        <div class="container-header">
          <div class="title">
              Universidade Utopia 
          </div>
            <img src="{% static 'images/logo2.png' %}" style="width: 43px; height: 40px;" />
        </div>
        <div class="list">

            <div class="menu-item">
              <div class="vector">
                <img src="{% static 'images/home.png' %}" style="width: 25px; height: 25px;" />
              </div>
              <a href="" class="link">Home</a>
            </div>
          
            <div class="menu-item">
              <div class="vector">
                <img src="{% static 'images/aluno.png' %}" style="width: 25px; height: 25px;" />
              </div>
              <a href="alunos/" class="link">Alunos</a>
            </div>
          
          <div class="menu-item">
            <div class="vector">
              <img src="{% static 'images/professores.png' %}" style="width: 25px; height: 25px;" />
            </div>
            <a href="professores/" class="link">Professores</a>
          </div>

          <div class="menu-item">
            <div class="vector">
              <img src="{% static 'images/disciplinas.png' %}" style="width: 25px; height: 25px;" />
            </div>
            <a href="disciplinas/" class="link">Disciplinas</a>
          </div>

          <div class="menu-item">
            <div class="vector">
              <img src="{% static 'images/turmas.png' %}" style="width: 25px; height: 25px;" />
            </div>
            <a href="turmas/" class="link">Turmas</a>
          </div>

          <div class="menu-item">
            <div class="vector">
              <img src="{% static 'images/relatorios.png' %}" style="width: 25px; height: 25px;" />
            </div>
            <a href="relatorios/" class="link">Relatórios</a>
          </div>
        </div>
      </div>
      <div class="container-content">
        <div class="container-header">
            <img src="{% static 'images/options.png' %}" style="width: 50px; height: 50px;" />
          <div class="title">
            <span class="portal-do-admin">
            Portal do admin
            </span>
          </div>
        </div>
        <div class="container-posts">
          <div class="anuncio">
            <img src="{% static 'images/anuncio_3.png' %}" />
          </div>
          <div class="anuncio">
            <img src="{% static 'images/anuncio_4.png' %}" />
          </div>
        </div>
        <div class="content">
          <div class="container-2">
            <div class="title">
            Relatórios
            </div>
            <div class="container-relatorio">
              <img src="{% static 'images/iconRelatorio.png' %}" style="width: 35px; height: 40px;" />
              <span class="descricao">
              Turma FES030131
              </span>
            </div>
            <div class="container-relatorio">
              <img src="{% static 'images/iconRelatorio.png' %}" style="width: 35px; height: 40px;" />
              <span class="descricao">
              Turma GOL041222
              </span>
            </div>
            <div class="container-relatorio">
              <img src="{% static 'images/iconRelatorio.png' %}" style="width: 35px; height: 40px;" />
              <span class="descricao">
              Turma R051224
              </span>
            </div>
            <div class="container-relatorio">
              <img src="{% static 'images/iconRelatorio.png' %}" style="width: 35px; height: 40px;" />
              <span class="descricao">
              Turma EP020125
              </span>
            </div>
            <div class="container-relatorio">
              <img src="{% static 'images/iconRelatorio.png' %}" style="width: 35px; height: 40px;" />
              <span class="descricao">
              Turma P010203
              </span>
            </div>
          </div>
          <div class="container-2">
            <div class="title">
            Solicitações Recentes
            </div>
            <div class="container-solicitacoes">
                <img src="{% static 'images/iconRelatorio.png' %}" style="width: 35px; height: 40px;" />
              <div class="descricao">
              Relatório FES030131
              </div>
            </div>
            <div class="container-solicitacoes">
                <img src="{% static 'images/iconRelatorio.png' %}" style="width: 35px; height: 40px;" />
              <div class="descricao">
              Histórico Escolar
              </div>
            </div>
            <div class="container-solicitacoes">
                <img src="{% static 'images/iconRelatorio.png' %}" style="width: 35px; height: 40px;" />
              <div class="descricao">
              Correção de Notas
              </div>
            </div>
            <div class="container-solicitacoes">
              <img src="{% static 'images/iconRelatorio.png' %}" style="width: 35px; height: 40px;" />
              <div class="descricao">
              Trancamento de Matricula
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
        </div>
      </div>
    </div>
  </body>
</html>