{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/admin_home.css' %}" />
  </head>
  <body>
    <div class="admin-home">
      <div class="sidebar">
        <div class="container-14">
          <div class="title-2">
          Universidade Utopia 
          </div>
          <div class="streamlineglobal-learning">
            <img class="group" src="../assets/images/logo.png" />
          </div>
        </div>
        <div class="list">
          <span class="menu-title">
            Discover
          </span>

            <div class="menu-item">
              <div class="vector">
                <img src="../assets/images/home.png" />
              </div>
              <a href="" class="link">Home</a>
            </div>
          
            <div class="menu-item">
              <div class="vector">
                <img src="../assets/images/aluno.png" />
              </div>
              <a href="alunos/" class="link">Alunos</a>
            </div>
          
          <div class="menu-item">
            <div class="vector">
              <img src="../assets/images/professores.png" />
            </div>
            <a href="professores/" class="link">Professores</a>
          </div>
        </div>

        <div class="list">
          <span class="menu-title">
            Biblioteca
          </span>

          <div class="menu-item">
            <div class="vector">
              <img src="../assets/images/disciplinas.png" />
            </div>
            <a href="disciplinas/" class="link">Disciplinas</a>
          </div>

          <div class="menu-item">
            <div class="vector">
              <img src="../assets/images/turmas.png" />
            </div>
            <a href="turmas/" class="link">Turmas</a>
          </div>

          <div class="menu-item">
            <div class="vector">
              <img src="../assets/images/relatorios.png" />
            </div>
            <a href="relatorios/" class="link">Relatórios</a>
          </div>
        </div>
      </div>
      <div class="container-1">
        <div class="container-11">
          <div class="bytesizeoptions">
            <img class="vector-10" src="../assets/vectors/vector_90_x2.svg" />
          </div>
          <div class="title">
            <span class="portal-do-admin">
            Portal do admin
            </span>
          </div>
        </div>
        <div class="container-7">
          <div class="azul-escuro-elaranja-moderno-profissional-cincia-etecnologia-pessoal-assinatura-de-email-1">
          </div>
          <div class="assinatura-de-email-laranja-epreto-simples-1">
          </div>
        </div>
        <div class="container-10">
          <div class="container-9">
            <div class="relatorios-1">
            Relatórios
            </div>
            <div class="container-15">
              <img class="vector-14" src="../assets/vectors/vector_35_x2.svg" />
              <span class="turma-fes-030131">
              Turma FES030131
              </span>
            </div>
            <div class="container-3">
              <img class="vector-15" src="../assets/vectors/vector_25_x2.svg" />
              <span class="turma-gol-041222">
              Turma GOL041222
              </span>
            </div>
            <div class="container-4">
              <img class="vector-16" src="../assets/vectors/vector_45_x2.svg" />
              <span class="turma-r-051224">
              Turma R051224
              </span>
            </div>
            <div class="container-13">
              <img class="vector-17" src="../assets/vectors/vector_100_x2.svg" />
              <span class="turma-ep-020125">
              Turma EP020125
              </span>
            </div>
            <div class="container-8">
              <img class="vector-18" src="../assets/vectors/vector_95_x2.svg" />
              <span class="turma-p-010203">
              Turma P010203
              </span>
            </div>
          </div>
          <div class="container-12">
            <div class="solicitaes-recentes">
            Solicitações Recentes
            </div>
            <div class="container">
              <div class="announcement-1">
                <img class="vector-19" src="../assets/vectors/vector_87_x2.svg" />
              </div>
              <span class="relatrio-fes-030131">
              Relatório FES030131
              </span>
            </div>
            <div class="container-6">
              <div class="announcement-2">
                <img class="vector-11" src="../assets/vectors/vector_61_x2.svg" />
              </div>
              <div class="histrico-escolar">
              Histórico Escolar
              </div>
            </div>
            <div class="container-2">
              <div class="announcement">
                <img class="vector-12" src="../assets/vectors/vector_1_x2.svg" />
              </div>
              <div class="correo-de-notas">
              Correção de Notas
              </div>
            </div>
            <div class="container-5">
              <img class="vector-13" src="../assets/vectors/vector_21_x2.svg" />
              <div class="trancamento-de-matricula">
              Trancamento de Matricula
              </div>
            </div>
          </div>
        </div>
        <div class="rectangle-1">
        </div>
      </div>
    </div>
  </body>
</html>