{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aluno - quadro de horários</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/aluno_quadro_horarios.css' %}" />
  </head>
  <body>
    <div class="aluno-quadro-horarios">
      <div class="container-1">
        <div class="container-14">
          <span class="title">
          Universidade Utopia 
          </span>
          <div class="streamlineglobal-learning">
            <img class="group-2" src="../assets/vectors/group_19_x2.svg" />
          </div>
        </div>
        <div class="container-5">
          <div class="container-4">
            <div class="icon-park-outlinelocal">
              <img class="group-1" src="../assets/vectors/group_7_x2.svg" />
            </div>
            <img class="solaruser-bold" src="../assets/vectors/solaruser_bold_6_x2.svg" />
            <div class="icon-headset-icon">
              <img class="vector-5" src="../assets/vectors/vector_55_x2.svg" />
            </div>
          </div>
          <div class="vector-1">
          </div>
        </div>
      </div>
      <div class="container-12">
        <div class="container-20">
          <div class="sidebar">
            <div class="menu-item-2">
              <span class="discover">
              Discover
              </span>
            </div>
            <div class="menu-item-3">
              <img class="home" src="../assets/vectors/home_6_x2.svg" />
              <span class="home-1">
                <a href="/aluno/">Home</a>
              Home
              </span>
            </div>
            <div class="group-2">
              <div class="menu-item-4">
                <img class="vector" src="../assets/vectors/vector_31_x2.svg" />
                <span class="quadro-de-horrios">
                Quadro de horários
                </span>
              </div>
            </div>
            <div class="menu-item">
              <img class="vector" src="..assets/images/disciplinas.png" />
              <span class="disciplinas">
                <a href="/aluno/disciplinas">Disciplinas</a>
              Disciplinas
              </span>
            </div>
            <div class="group-5">
              <div class="menu-item-1">
                <img class="group" src="../assets/vectors/group_13_x2.svg" />
                <span class="solicitaes">
                  <a href="/aluno/solicitacoes">Solicitações</a>
                Solicitações
                </span>
              </div>
            </div>
          </div>
          <div class="container-25">
            <div class="container-17">
              <div class="container-23">
                <div class="quadro-de-horrios-1">
                Quadro de Horários 
                </div>
                <div class="container-6">
                  <div class="container-9">
                    <div class="container-8">
                      <div class="container-26">
                        <div class="curso">
                        Curso:
                        </div>
                        <div class="vector-2">
                        </div>
                        <div class="bacharelado-em-sistemas-de-informao">
                        Bacharelado em Sistemas de Informação 
                        </div>
                      </div>
                      <div class="container-10">
                        <div class="vector-7">
                        </div>
                        <div class="semestre-5">
                        Semestre: 5º
                        </div>
                      </div>
                    </div>
                    <div class="container-21">
                      <div class="container-16">
                        <div class="perodo">
                        Período:
                        </div>
                        <div class="container">
                        2024.1
                        </div>
                        <div class="vector-4">
                        </div>
                        <div class="turma-fes-030131">
                        Turma: FES030131
                        </div>
                        <div class="vector-5">
                        </div>
                        <div class="turno-matutino">
                        Turno: Matutino
                        </div>
                        <div class="vector-6">
                        </div>
                      </div>
                      <div class="matrcula-123982198">
                      Matrícula: 123982198
                      </div>
                    </div>
                  </div>
                  <div class="vector-3">
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="container-15">
                  <span class="horrios">
                  Horários 
                  </span>
                  <span class="segunda">
                  Segunda
                  </span>
                  <span class="tera">
                  Terça 
                  </span>
                  <span class="quarta">
                  Quarta 
                  </span>
                  <span class="quinta">
                  Quinta
                  </span>
                  <span class="sexta">
                  Sexta 
                  </span>
                  <span class="sbado">
                  Sábado 
                  </span>
                </div>
                <div class="container-13">
                  <span class="estrutura-de-dados">
                  Estrutura de Dados
                  </span>
                  <div class="container-19">
                    <div class="jogos-digitais-4">
                    Jogos Digitais
                    </div>
                    <div class="anlise-orientada-aobjeto">
                    Análise Orientada a Objeto
                    </div>
                    <div class="desenvolvimento-web-2">
                    Desenvolvimento Web
                    </div>
                  </div>
                </div>
                <div class="container-22">
                  <span class="desenvolvimento-web">
                  Desenvolvimento Web
                  </span>
                  <div class="container-2">
                    <div class="jogos-digitais-1">
                    Jogos Digitais
                    </div>
                    <span class="anlise-orientada-aobjeto-1">
                    Análise Orientada a Objeto
                    </span>
                    <span class="desenvolvimento-web-3">
                    Desenvolvimento Web
                    </span>
                  </div>
                </div>
                <div class="container-3">
                  <div class="desenvolvimento-web-1">
                  Desenvolvimento Web
                  </div>
                  <div class="container-24">
                    <div class="jogos-digitais-2">
                    Jogos Digitais
                    </div>
                    <div class="anlise-orientada-aobjeto-2">
                    Análise Orientada a Objeto
                    </div>
                    <div class="desenvolvimento-web-4">
                    Desenvolvimento Web
                    </div>
                  </div>
                </div>
                <div class="container-18">
                  <div class="jogos-digitais">
                  Jogos Digitais
                  </div>
                  <div class="container-7">
                    <div class="jogos-digitais-3">
                    Jogos Digitais
                    </div>
                    <span class="anlise-orientada-aobjeto-3">
                    Análise Orientada a Objeto
                    </span>
                    <span class="desenvolvimento-web-5">
                    Desenvolvimento Web
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="vector-8">
            </div>
            <div class="vector-9">
            </div>
            <div class="vector-10">
            </div>
            <div class="vector-11">
            </div>
            <div class="vector-12">
            </div>
            <div class="vector-13">
            </div>
            <div class="vector-14">
            </div>
            <div class="vector-17">
            </div>
          </div>
        </div>
        <div class="container-11">
          <div class="s-0910">
          07:30 às 09:10
          </div>
          <div class="s-1000">
          09:10 às 10:00
          </div>
          <div class="s-1100">
          10:10 às 11:00
          </div>
          <span class="s-1220">
          11:00 às 12:20
          </span>
        </div>
        <div class="vector-15">
        </div>
        <div class="vector-16">
        </div>
      </div>
    </div>
  </body>
</html>