{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aluno - disciplinas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/aluno_disciplinas.css' %}" />
  </head>
  <body>
    <div class="aluno-disciplinas">
      <div class="container-header">
        <div class="container-logo">
          <span class="title">
          Universidade Utopia 
          </span>
          <img class="logo" src="{% static 'images/logo.png' %}" />
        </div>
        <div class="container-13">
          <div class="container-options">
            <img class="options-icon" src="{% static 'images/local.png' %}" />
            <img class="options-icon" src="{% static 'images/usuario.png' %}" />
            <img class="options-icon" src="{% static 'images/help.png' %}" />
          </div>
          <div class="line">
          </div>
        </div>
      </div>
      <div class="container-main">
        <div class="sidebar">
          <div class="list">
          <div class="menu-item">
            <img src="{% static 'images/home.png' %}" style="width: 25px; height: 25px;" />
            <a href="/aluno/" class="link">Home</a>
          </div>
            <div class="menu-item">
              <img src="{% static 'images/aluno.png' %}" style="width: 25px; height: 25px;" />
              <a href="/aluno/quadro_horarios/" class="link">Quadro de horários</a>
            </div>
          <div class="menu-item">
              <img src="{% static 'images/disciplinas.png' %}" style="width: 25px; height: 25px;" />
              <a href="" class="link">Disciplinas</a>
          </div>
          <div class="menu-item">
            <img src="{% static 'images/solicitacoes.png' %}" style="width: 25px; height: 25px;" />
            <a href="/aluno/solicitacoes/" class="link">Solicitações</a>
          </div>
        </div>
        </div>
        <div class="container-42">
          <div class="container-7">
            <div class="disciplinas-matriculadas">
            Disciplinas Matriculadas 
            </div>
            <div class="container-44">
              <div class="container-26">
                <div class="container-43">
                  <div class="container">
                    <div class="disciplina">
                    Disciplina  
                    </div>
                    <span class="jogos-digitais">
                    Jogos Digitais
                    </span>
                  </div>
                  <div class="container-2">
                    <div class="tipo-de-aula">
                    Tipo de Aula
                    </div>
                    <span class="presencial">
                    Presencial
                    </span>
                  </div>
                </div>
                <div class="container-35">
                  <div class="container-10">
                    <div class="container-18">
                      <div class="matriculado">
                      Matriculado
                      </div>
                      <span class="container">
                      2024.1
                      </span>
                    </div>
                    <span class="perodo">
                    Período
                    </span>
                  </div>
                  <div class="container-14">
                    <span class="docente">
                    Docente
                    </span>
                    <span class="fulano-de-tal">
                    Fulano de Tal
                    </span>
                  </div>
                  <div class="container-28">
                    <div class="data-inicial">
                    Data Inicial
                    </div>
                    <span class="container-1">
                    06/05/2024
                    </span>
                  </div>
                  <div class="ionellipsis-horizontal-circle-sharp">
                    <img class="vector" src="{%static 'images/pontos.png'%}" />
                  </div>
                </div>
              </div>
              <span class="situao">
              Situação
              </span>
            </div>
            <div class="container-16">
              <div class="container-32">
                <div class="container-6">
                  <div class="container-38">
                    <div class="container-34">
                      <div class="container-17">
                        <div class="disciplina-1">
                        Disciplina  
                        </div>
                        <span class="desenvolvimento-web">
                        Desenvolvimento Web
                        </span>
                      </div>
                      <div class="container-12">
                        <div class="tipo-de-aula-1">
                        Tipo de Aula
                        </div>
                        <span class="presencial-1">
                        Presencial
                        </span>
                      </div>
                    </div>
                    <div class="container-29">
                      <div class="matriculado-1">
                      Matriculado
                      </div>
                      <div class="container-4">
                        <div class="docente-1">
                        Docente
                        </div>
                        <span class="sei-la-quem">
                        Sei la quem
                        </span>
                      </div>
                      <div class="container-22">
                        <div class="data-inicial-1">
                        Data Inicial
                        </div>
                        <span class="container-3">
                        06/05/2024
                        </span>
                      </div>
                      <div class="ionellipsis-horizontal-circle-sharp-1">
                        <img class="vector" src="{%static 'images/pontos.png'%}" />
                      </div>
                    </div>
                  </div>
                  <span class="situao-1">
                  Situação
                  </span>
                </div>
                <span class="container-2">
                2024.1
                </span>
              </div>
              <span class="perodo-1">
              Período
              </span>
            </div>
            <div class="container-1">
              <div class="container-39">
                <div class="container-31">
                  <span class="disciplina-2">
                  Disciplina  
                  </span>
                  <span class="anlise-orientada-aobjeto">
                  Análise Orientada a Objeto
                  </span>
                </div>
                <div class="container-8">
                  <div class="tipo-de-aula-2">
                  Tipo de Aula
                  </div>
                  <span class="virtualizada">
                  Virtualizada
                  </span>
                </div>
                <div class="container-41">
                  <div class="dependncia-da-turma-disciplina-2">
                  Dependência da Turma/Disciplina
                  </div>
                  <span class="sala-virtual-teams">
                  Sala Virtual - Teams
                  </span>
                </div>
                <div class="container-21">
                  <div class="container-27">
                    <div class="matriculado-2">
                    Matriculado
                    </div>
                    <span class="container-4">
                    2024.1
                    </span>
                  </div>
                  <span class="perodo-2">
                  Período
                  </span>
                </div>
                <div class="container-37">
                  <div class="docente-2">
                  Docente
                  </div>
                  <span class="beltrano">
                  Beltrano
                  </span>
                </div>
                <div class="container-36">
                  <div class="data-inicial-2">
                  Data Inicial
                  </div>
                  <span class="container-5">
                  06/05/2024
                  </span>
                </div>
                <div class="ionellipsis-horizontal-circle-sharp-2">
                  <img class="vector" src="{%static 'images/pontos.png'%}" />
                </div>
              </div>
              <span class="situao-2">
              Situação
              </span>
            </div>
            <div class="container-40">
              <div class="container-23">
                <div class="container-19">
                  <div class="container-5">
                    <div class="disciplina-3">
                    Disciplina  
                    </div>
                    <span class="estrutura-de-dados">
                    Estrutura de Dados
                    </span>
                  </div>
                  <div class="container-33">
                    <div class="tipo-de-aula-3">
                    Tipo de Aula
                    </div>
                    <span class="presencial-2">
                    Presencial
                    </span>
                  </div>
                </div>
                <div class="container-9">
                  <div class="container-11">
                    <div class="container-20">
                      <div class="matriculado-3">
                      Matriculado
                      </div>
                      <span class="container-6">
                      2024.1
                      </span>
                    </div>
                    <span class="perodo-3">
                    Período
                    </span>
                  </div>
                  <div class="container-3">
                    <div class="docente-3">
                    Docente
                    </div>
                    <span class="ciclano">
                    Ciclano 
                    </span>
                  </div>
                  <div class="container-30">
                    <div class="data-inicial-3">
                    Data Inicial
                    </div>
                    <span class="container-7">
                    06/05/2024
                    </span>
                  </div>
                  <div class="ionellipsis-horizontal-circle-sharp-3">
                    <img class="vector" src="{%static 'images/pontos.png'%}" />
                  </div>
                </div>
              </div>
              <span class="situao-3">
              Situação
              </span>
            </div>
          </div>
      
          <span class="tjc-221-sala-de-aula">
          TJC221 - Sala de Aula
          </span>
          <span class="dependncia-da-turma-disciplina">
          Dependência da Turma/Disciplina
          </span>
          <span class="lab-03-sala-de-aula">
          LAB 03 - Sala de Aula
          </span>
          <span class="dependncia-da-turma-disciplina-1">
          Dependência da Turma/Disciplina
          </span>
          <span class="tjc-209-sala-de-aula">
          TJC209 - Sala de Aula
          </span>
          <span class="dependncia-da-turma-disciplina-3">
          Dependência da Turma/Disciplina
          </span>
        </div>
      </div>
    </div>
  </body>
</html>