<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aluno - solicitações</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="aluno_solicitaes.css" />
  </head>
  <body>
    <div class="aluno-solicitaes">
      <div class="container-12">
        <div class="container-4">
          <span class="title">
          Universidade Utopia 
          </span>
          <div class="streamlineglobal-learning">
            <img class="group-3" src="../assets/vectors/group_4_x2.svg" />
          </div>
        </div>
        <div class="container-5">
          <div class="container-1">
            <div class="icon-park-outlinelocal">
              <img class="group-2" src="../assets/vectors/group_18_x2.svg" />
            </div>
            <img class="solaruser-bold" src="../assets/vectors/solaruser_bold_4_x2.svg" />
            <div class="icon-headset-icon">
              <img class="vector-12" src="../assets/vectors/vector_105_x2.svg" />
            </div>
          </div>
          <div class="vector-1">
          </div>
        </div>
      </div>
      <div class="container-7">
        <div class="sidebar">
          <div class="menu-item">
            <span class="discover">
            Discover
            </span>
          </div>
          <div class="menu-item-1">
            <img class="home" src="../assets/vectors/home_5_x2.svg" />
            <span class="home-1">
            Home
            </span>
          </div>
          <div class="group-2">
            <div class="menu-item-2">
              <img class="vector-6" src="../assets/vectors/vector_62_x2.svg" />
              <span class="quadro-de-horrios">
              Quadro de horários
              </span>
            </div>
          </div>
          <div class="menu-item-3">
            <img class="vector-7" src="../assets/vectors/vector_67_x2.svg" />
            <span class="disciplinas">
            Disciplinas
            </span>
          </div>
          <div class="group-5">
            <div class="menu-item-4">
              <img class="group-1" src="../assets/vectors/group_27_x2.svg" />
              <span class="solicitaes">
              Solicitações
              </span>
            </div>
          </div>
        </div>
        <div class="container-2">
          <div class="solicitao">
          Solicitação
          </div>
          <div class="container-9">
            <div class="container-15">
              <span class="buscar">
              Buscar....
              </span>
            </div>
            <div class="container-17">
              <div class="group-55">
                <div class="nova-solicitao">
                Nova Solicitação
                </div>
                <div class="rectangle-20">
                </div>
              </div>
              <div class="group-54">
                <span class="data-de-solicitao">
                Data de Solicitação
                </span>
                <div class="mdicalendar-outline">
                  <img class="vector" src="../assets/vectors/vector_33_x2.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="group-51">
              <div class="rectangle-39">
              </div>
              <div class="container-3">
                <div class="container-11">
                  <img class="vector-2" src="../assets/vectors/vector_17_x2.svg" />
                  <div class="container-16">
                    <span class="nmero-68988">
                    Número: 68988
                    </span>
                    <span class="data-24052024">
                    Data: 24/05/2024
                    </span>
                  </div>
                  <div class="container-13">
                    <span class="solicitao-histrico-escolar">
                    Solicitação: Histórico Escolar
                    </span>
                    <span class="prazo-2-dias">
                    Prazo: 2 dias
                    </span>
                  </div>
                </div>
                <span class="status-em-andamento">
                Status:<br />
                em andamento
                </span>
              </div>
            </div>
            <div class="group-52">
              <div class="rectangle-391">
              </div>
              <div class="container-10">
                <div class="container-14">
                  <img class="vector-3" src="../assets/vectors/vector_14_x2.svg" />
                  <div class="container-6">
                    <span class="nmero-12478">
                    Número: 12478
                    </span>
                    <span class="data-05042024">
                    Data: 05/04/2024
                    </span>
                  </div>
                  <div class="container-8">
                    <span class="solicitao-correo-de-nota">
                    Solicitação: Correção de Nota
                    </span>
                    <span class="prazo-10-dias">
                    Prazo: 10 dias
                    </span>
                  </div>
                </div>
                <span class="status-concludo">
                Status:<br />
                concluído
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="group-53">
          <span class="histrico-solicitao">
          Histórico solicitação
          </span>
          <div class="group">
            <img class="vector-1" src="../assets/vectors/vector_11_x2.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>