{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aluno - home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/aluno_home.css' %}" />
  </head>
  <body>
    <div class="aluno-home">
      <div class="container-2">
        <div class="container-4">
          <span class="title">
          Universidade Utopia 
          </span>
          <div class="streamlineglobal-learning">
            <img class="group-1" src="../assets/vectors/group_28_x2.svg" />
          </div>
        </div>
        <div class="container-6">
          <div class="container">
            <div class="icon-park-outlinelocal">
              <img class="group-2" src="../assets/vectors/group_26_x2.svg" />
            </div>
            <img class="solaruser-bold" src="../assets/vectors/solaruser_bold_7_x2.svg" />
            <div class="icon-headset-icon">
              <img class="vector-3" src="../assets/vectors/vector_22_x2.svg" />
            </div>
          </div>
          <div class="vector-1">
          </div>
        </div>
      </div>
      <div class="container-5">
        <div class="sidebar">
          <div class="menu-item-2">
            <span class="discover">
            Discover
            </span>
          </div>
          <div class="menu-item">
            <img class="home" src="../assets/vectors/home_8_x2.svg" />
            <span class="home-1">
            Home
            </span>
          </div>
          <div class="group-2">
            <div class="menu-item-1">
              <img class="vector-2" src="../assets/vectors/vector_99_x2.svg" />
              <span class="quadro-de-horrios">
              Quadro de horários
              </span>
            </div>
          </div>
          <div class="menu-item-3">
            <img class="vector-4" src="../assets/vectors/vector_64_x2.svg" />
            <span class="disciplinas">
            Disciplinas
            </span>
          </div>
          <div class="group-5">
            <div class="menu-item-4">
              <img class="group" src="../assets/vectors/group_29_x2.svg" />
              <span class="solicitaes">
              Solicitações
              </span>
            </div>
          </div>
        </div>
        <div class="container-3">
          <div class="container-1">
            <span class="disciplinas-do-dia">
            Disciplinas do dia: 
            </span>
          </div>
          <div class="rectangle-3">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>