.group-6 .estrutura-de-dados {
  margin-right: 12px;
  width: 258.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .container {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .fulano {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .frame-2610398 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 64px 0;
  width: 100%;
  box-sizing: border-box;
}
.group-6 .estrutura-de-dados-1 {
  margin-right: 12px;
  width: 257px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .container-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .fulano-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .frame-2610400 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 64px 0;
  width: 100%;
  box-sizing: border-box;
}
.group-6 .desenvolvimento-web-1 {
  margin-right: 12px;
  width: 259.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .container-3 {
  margin-right: 20.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .ciclano-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .container-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-6 .frame-2610401 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 64px 0;
  width: 100%;
  box-sizing: border-box;
}
.group-6 .desenvolvimento-web {
  margin-right: 12px;
  width: 261.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .container-1 {
  margin-right: 20.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .ciclano {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-6 .frame-2610399 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 64px 0;
  width: 100%;
  box-sizing: border-box;
}
.group-6 .jogos-digitais {
  margin-right: 12px;
  width: 261.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .container-4 {
  margin-right: 13.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .beltrano {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .container-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-6 .frame-2610402 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 64px 0;
  width: 100%;
  box-sizing: border-box;
}
.group-6 .jogos-digitais-1 {
  margin-right: 12px;
  width: 259.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .container-5 {
  margin-right: 13.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .beltrano-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.group-6 .container-3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-6 .frame-2610403 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 64px 0;
  width: 100%;
  box-sizing: border-box;
}
.group-6 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
