<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Group 6</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="group_6.css" />
  </head>
  <body>
    <div class="group-6">
      <div class="frame-2610398">
        <span class="estrutura-de-dados">
        Estrutura de Dados
        </span>
        <span class="container">
        07:30
        </span>
        <span class="fulano">
        Fulano
        </span>
      </div>
      <div class="frame-2610400">
        <span class="estrutura-de-dados-1">
        Estrutura de Dados
        </span>
        <span class="container-2">
        08:20
        </span>
        <span class="fulano-1">
        Fulano
        </span>
      </div>
      <div class="frame-2610401">
        <span class="desenvolvimento-web-1">
        Desenvolvimento web
        </span>
        <div class="container-1">
          <span class="container-3">
          09:10
          </span>
          <span class="ciclano-1">
          Ciclano
          </span>
        </div>
      </div>
      <div class="frame-2610399">
        <span class="desenvolvimento-web">
        Desenvolvimento Web
        </span>
        <div class="container">
          <span class="container-1">
          10:10
          </span>
          <span class="ciclano">
          Ciclano
          </span>
        </div>
      </div>
      <div class="frame-2610402">
        <span class="jogos-digitais">
        Jogos Digitais
        </span>
        <div class="container-2">
          <span class="container-4">
          11:00
          </span>
          <span class="beltrano">
          Beltrano
          </span>
        </div>
      </div>
      <div class="frame-2610403">
        <span class="jogos-digitais-1">
        Jogos digitais
        </span>
        <div class="container-3">
          <span class="container-5">
          12:20
          </span>
          <span class="beltrano-1">
          Beltrano
          </span>
        </div>
      </div>
    </div>
  </body>
</html>