.mask-group .property-1-default {
  background: #FFFFFF;
  transform: rotate(179.357deg);
  margin-bottom: 20px;
  width: 47px;
  height: 1.5px;
}
.mask-group .property-1-variant-2 {
  background: #FFFFFF;
  transform: rotate(179.357deg);
  width: 47px;
  height: 1.5px;
}
.mask-group .frame-1 {
  border-radius: 5px;
  border: 1px dashed #9747FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.mask-group {
  border-radius: 5px;
  display: flex;
  box-sizing: border-box;
}
