.professor-turmas .title {
  margin-right: 12px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  background: linear-gradient(90deg, #E0E0E0, #B5DBFF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.professor-turmas .group-1 {
  width: 54.7px;
  height: 47.4px;
}
.professor-turmas .streamlineglobal-learning {
  margin: 8.3px 0 19.3px 0;
  display: flex;
  width: 54.7px;
  height: 47.4px;
  box-sizing: border-box;
}
.professor-turmas .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.professor-turmas .group-2 {
  width: 35.8px;
  height: 32.5px;
}
.professor-turmas .icon-park-outlinelocal {
  margin: 3.3px 22.6px 4.2px 0;
  display: flex;
  width: 35.8px;
  height: 32.5px;
  box-sizing: border-box;
}
.professor-turmas .solaruser-bold {
  margin-right: 19px;
  width: 41px;
  height: 40px;
}
.professor-turmas .vector-11 {
  width: 35px;
  height: 33.7px;
}
.professor-turmas .icon-headset-icon {
  margin: 3px 0 3.3px 0;
  display: flex;
  width: 35px;
  height: 33.7px;
  box-sizing: border-box;
}
.professor-turmas .container-9 {
  margin: 0 0px 6px 0px;
  display: flex;
  flex-direction: row;
  width: 153.4px;
  box-sizing: border-box;
}
.professor-turmas .vector-1 {
  background: #F5F5F5;
  width: 771px;
  height: 2px;
}
.professor-turmas .container-6 {
  margin: 7.5px 0 19.5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 771px;
  height: fit-content;
  box-sizing: border-box;
}
.professor-turmas .container-4 {
  background: linear-gradient(90deg, #0979B0, rgba(4, 51, 74, 0.95));
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.5px 43px 3.5px 31px;
  width: 1440px;
  box-sizing: border-box;
}
.professor-turmas .discover {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .menu-item {
  border-radius: 8px;
  margin: 0 171.1px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.professor-turmas .home {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.professor-turmas .home-1 {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .menu-item-1 {
  border-radius: 8px;
  background: rgba(247, 247, 247, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.professor-turmas .vector-2 {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.professor-turmas .turmas {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .menu-item-2 {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.professor-turmas .group-2 {
  border-radius: 8px;
  margin-bottom: 4px;
  display: flex;
  width: 263px;
  box-sizing: border-box;
}
.professor-turmas .vector-3 {
  margin: 0.5px 20px 0.5px 0;
  width: 19px;
  height: 23px;
}
.professor-turmas .disciplinas {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .menu-item-3 {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.professor-turmas .group {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.professor-turmas .solicitaes {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .menu-item-4 {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
  width: 263px;
  box-sizing: border-box;
}
.professor-turmas .group-5 {
  border-radius: 8px;
  display: flex;
  width: 263px;
  box-sizing: border-box;
}
.professor-turmas .sidebar {
  border-right: 1px solid #E0E0E0;
  background: #90C3DB;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 16px 620px 15px;
  box-sizing: border-box;
}
.professor-turmas .buscar {
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .container-2 {
  border-radius: 41px;
  background: #76C4FF;
  position: relative;
  margin: 1px 28px 0 0;
  display: flex;
  padding: 8px 150px 11px 0;
  width: 324px;
  height: fit-content;
  box-sizing: border-box;
}
.professor-turmas .turmas-1 {
  margin-right: 19px;
  width: 121.3px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .vector-15 {
  width: 22.2px;
  height: 12.8px;
}
.professor-turmas .group-3 {
  margin: 8.9px 0 16.3px 0;
  display: flex;
  width: 22.2px;
  height: 12.8px;
  box-sizing: border-box;
}
.professor-turmas .container-1 {
  background: #76C4FF;
  position: relative;
  margin: 1px 19px 7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 1px 0;
  width: 231px;
  height: fit-content;
  box-sizing: border-box;
}
.professor-turmas .turno {
  margin-right: 19px;
  width: 113.6px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .vector-16 {
  width: 22.2px;
  height: 12.8px;
}
.professor-turmas .group-4 {
  margin: 8.9px 0 16.3px 0;
  display: flex;
  width: 22.2px;
  height: 12.8px;
  box-sizing: border-box;
}
.professor-turmas .container-8 {
  background: #76C4FF;
  position: relative;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 1px 0;
  width: 231px;
  height: fit-content;
  box-sizing: border-box;
}
.professor-turmas .container-5 {
  margin: 0 93px 75px 93px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 833px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-14 {
  background: #94DFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 853px;
  height: 49px;
}
.professor-turmas .turma-fes-030131 {
  position: relative;
  margin: 0 15px 1px 0;
  display: inline-block;
  width: 224.8px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .disciplina-desenvolvimento-web {
  position: relative;
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .turno-manh {
  position: relative;
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .group-14 {
  background: #D9D9D9;
  position: relative;
  margin: 0 50px 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 76.1px 9px 20.4px;
  width: 853px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-141 {
  background: #94DFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 853px;
  height: 49px;
}
.professor-turmas .turma-fes-0301311 {
  position: relative;
  margin-right: 15px;
  width: 227.8px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .disciplina-desenvolvimento-web-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .turno-tarde {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .group-15 {
  background: #D9D9D9;
  position: relative;
  margin: 0 50px 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 81px 9px 17.4px;
  width: 853px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-142 {
  background: #94DFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 853px;
  height: 49px;
}
.professor-turmas .turma-fes-0301312 {
  position: relative;
  margin-right: 15px;
  width: 227.8px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .disciplina-desenvolvimento-web-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .turno-noturno {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .group-16 {
  background: #D9D9D9;
  position: relative;
  margin: 0 50px 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 69.3px 9px 17.4px;
  width: 853px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-143 {
  background: #94DFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 853px;
  height: 49px;
}
.professor-turmas .turma-fes-0301313 {
  position: relative;
  margin-right: 15px;
  width: 224.8px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .disciplina-desenvolvimento-web-3 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .turno-manh-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .group-17 {
  background: #D9D9D9;
  position: relative;
  margin: 0 50px 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 76.1px 9px 20.4px;
  width: 853px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-144 {
  background: #94DFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 853px;
  height: 49px;
}
.professor-turmas .turma-fes-0301314 {
  position: relative;
  margin-right: 15px;
  width: 224.8px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .disciplina-desenvolvimento-web-4 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .turno-tarde-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .group-18 {
  background: #D9D9D9;
  position: relative;
  margin: 0 50px 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 81px 9px 20.4px;
  width: 853px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-145 {
  background: #94DFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 853px;
  height: 49px;
}
.professor-turmas .turma-fes-0301315 {
  position: relative;
  margin-right: 15px;
  width: 260.9px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .disciplina-jogos-digitais {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .turno-noturno-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .group-141 {
  background: #94DFFF;
  position: relative;
  margin: 0 50px 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 69.3px 9px 20.4px;
  width: 853px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-146 {
  background: #94DFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 853px;
  height: 49px;
}
.professor-turmas .turma-fes-0301316 {
  position: relative;
  margin-right: 15px;
  width: 260.9px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .disciplina-jogos-digitais-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .turno-manh-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .group-151 {
  background: #94DFFF;
  position: relative;
  margin: 0 50px 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 76.1px 9px 20.4px;
  width: 853px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-147 {
  background: #94DFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 853px;
  height: 49px;
}
.professor-turmas .turma-fes-0301317 {
  position: relative;
  margin-right: 15px;
  width: 260.9px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .disciplina-jogos-digitais-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .turno-tarde-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .group-161 {
  background: #94DFFF;
  position: relative;
  margin: 0 50px 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 81px 9px 20.4px;
  width: 853px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-148 {
  background: #94DFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 853px;
  height: 49px;
}
.professor-turmas .turma-fes-0301318 {
  position: relative;
  margin-right: 15px;
  width: 260.9px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .disciplina-jogos-digitais-3 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .turno-noturno-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .group-171 {
  background: #94DFFF;
  position: relative;
  margin: 0 50px 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 69.3px 9px 20.4px;
  width: 853px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-149 {
  background: #94DFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 853px;
  height: 49px;
}
.professor-turmas .turma-fes-0301319 {
  position: relative;
  margin: 0 15px 7px 0;
  display: inline-block;
  width: 260.9px;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .disciplina-jogos-digitais-4 {
  position: relative;
  margin-top: 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .turno-manh-3 {
  position: relative;
  margin-top: 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Judson';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.professor-turmas .group-181 {
  background: #94DFFF;
  position: relative;
  margin: 0 50px 82px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 76.1px 9px 20.4px;
  width: 853px;
  box-sizing: border-box;
}
.professor-turmas .rectangle-1 {
  background: linear-gradient(90deg, rgba(4, 51, 74, 0.95), rgba(4, 58, 84, 0.95), rgba(9, 121, 176, 0.95));
  width: 1145px;
  height: 131px;
}
.professor-turmas .container-7 {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1145px;
  height: fit-content;
  box-sizing: border-box;
}
.professor-turmas .container-3 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.professor-turmas {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
