{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Professor - disciplinas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/professor_disciplinas.css' %}" />
  </head>
  <body>
    <div class="professor-disciplinas">
      <div class="container-3">
        <div class="container-6">
          <span class="title">
          Universidade Utopia 
          </span>
          <div class="streamlineglobal-learning">
            <img class="group-1" src="../assets/vectors/group_15_x2.svg" />
          </div>
        </div>
        <div class="container-4">
          <div class="container-12">
            <div class="icon-park-outlinelocal">
              <img class="group-2" src="../assets/vectors/group_16_x2.svg" />
            </div>
            <img class="solaruser-bold" src="../assets/vectors/solaruser_bold_1_x2.svg" />
            <div class="icon-headset-icon">
              <img class="vector-11" src="../assets/vectors/vector_103_x2.svg" />
            </div>
          </div>
          <div class="vector-1">
          </div>
        </div>
      </div>
      <div class="container-8">
        <div class="sidebar">
          <div class="menu-item">
            <span class="discover">
            Discover
            </span>
          </div>
          <div class="menu-item-1">
            <img class="home" src="../assets/vectors/home_13_x2.svg" />
            <span class="home-1">
              <a href="/professor/">Home</a>
            Home
            </span>
          </div>
          <div class="group-2">
            <div class="menu-item-2">
              <img class="vector-2" src="../assets/vectors/vector_41_x2.svg" />
              <span class="turmas">
                <a href="/professor/turmas/">Turmas</a>
              Turmas
              </span>
            </div>
          </div>
          <div class="menu-item-3">
            <img class="vector-3" src="..assets/images/disciplinas.png" />
            <span class="disciplinas">
            Disciplinas
            </span>
          </div>
          <div class="group-5">
            <div class="menu-item-4">
              <img class="group" src="../assets/vectors/group_6_x2.svg" />
              <span class="solicitaes">
                <a href="/professor/solicitacoes/">Solicitações</a>
              Solicitações
              </span>
            </div>
          </div>
        </div>
        <div class="container-7">
          <div class="group-14">
            <div class="rectangle-13">
            </div>
            <div class="container-10">
              <div class="container-1">
                <div class="disciplina">
                Disciplina
                </div>
                <div class="modalidade">
                Modalidade
                </div>
                <div class="sala-determinada">
                Sala Determinada
                </div>
                <div class="perodo">
                Período
                </div>
                <div class="data-inicial">
                Data Inicial
                </div>
              </div>
              <div class="container">
                <div class="container-2">
                  <span class="desenvolvimento-web">
                  Desenvolvimento Web
                  </span>
                  <div class="presencial">
                  Presencial
                  </div>
                </div>
                <div class="laboratrio-07">
                Laboratório 07
                </div>
                <p class="container-1">
                <span class="container-1-sub-0"></span><span></span>
                </p>
                <div class="container">
                01/02/2024
                </div>
              </div>
            </div>
            <img class="rectangle-261" src="../assets/vectors/rectangle_261_x2.svg" />
            <img class="rectangle-27" src="../assets/vectors/rectangle_27_x2.svg" />
            <img class="rectangle-28" src="../assets/vectors/rectangle_281_x2.svg" />
            <img class="rectangle-26" src="../assets/vectors/rectangle_262_x2.svg" />
          </div>
          <div class="group-15">
            <div class="rectangle-131">
            </div>
            <div class="container-11">
              <div class="container-5">
                <div class="disciplina-1">
                Disciplina
                </div>
                <div class="modalidade-1">
                Modalidade
                </div>
                <div class="sala-determinada-1">
                Sala Determinada
                </div>
                <div class="perodo-1">
                Período
                </div>
                <div class="data-inicial-1">
                Data Inicial
                </div>
              </div>
              <div class="container-9">
                <span class="jogos-digitais">
                Jogos <br />
                Digitais
                </span>
                <div class="presencial-1">
                Presencial
                </div>
                <div class="laboratrio-02">
                Laboratório 02
                </div>
                <p class="container-3">
                <span class="container-3-sub-0"></span><span></span>
                </p>
                <div class="container-2">
                01/02/2024
                </div>
              </div>
            </div>
            <img class="rectangle-262" src="../assets/vectors/rectangle_26_x2.svg" />
            <img class="rectangle-271" src="../assets/vectors/rectangle_271_x2.svg" />
            <img class="rectangle-281" src="../assets/vectors/rectangle_28_x2.svg" />
            <img class="rectangle-29" src="../assets/vectors/rectangle_29_x2.svg" />
          </div>
          <div class="rectangle-1">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>