{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Professor - turmas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/professor_turmas.css' %}" />
  </head>
  <body>
    <div class="professor-turmas">
      <div class="container-header">
        <div class="container-logo">
          <span class="title">
          Universidade Utopia 
          </span>
          <img class="logo" src="{% static 'images/logo.png' %}" />
        </div>
        <div class="container-13">
          <div class="container-options">
            <img class="options-icon" src="{% static 'images/local.png' %}" />
            <img class="options-icon" src="{% static 'images/usuario.png' %}" />
            <img class="options-icon" src="{% static 'images/help.png' %}" />
          </div>
          <div class="line">
          </div>
        </div>
      </div>
      <div class="container-main">
        <div class="sidebar">
          <div class="list">
          <div class="menu-item">
            <img src="{% static 'images/home.png' %}" style="width: 25px; height: 25px;" />
            <a href="/professor/" class="link">Home</a>
          </div>
            <div class="menu-item">
              <img src="{% static 'images/aluno.png' %}" style="width: 25px; height: 25px;" />
              <a href="" class="link">Turmas</a>
            </div>
          <div class="menu-item">
              <img src="{% static 'images/disciplinas.png' %}" style="width: 25px; height: 25px;" />
              <a href="/professor/disciplinas/" class="link">Disciplinas</a>
          </div>
          <div class="menu-item">
            <img src="{% static 'images/solicitacoes.png' %}" style="width: 25px; height: 25px;" />
            <a href="/professor/solicitacoes/" class="link">Solicitações</a>
          </div>
        </div>
        </div>
        <div class="container-7">
          <div class="container-5">
            <div class="container-2">
              <span class="buscar">
              Buscar...
              </span>
            </div>
            <div class="container-1">
              <span class="turmas-1">
              Turmas
              </span>
              <div class="group-3">
                <img class="vector-15" src="../assets/vectors/vector_94_x2.svg" />
              </div>
            </div>
            <div class="container-8">
              <span class="turno">
              Turno
              </span>
              <div class="group-4">
                <img class="vector-16" src="../assets/vectors/vector_84_x2.svg" />
              </div>
            </div>
          </div>
          <div class="group-14">
            <div class="rectangle-14">
            </div>
            <div class="turma-fes-030131">
            Turma: Fes030131
            </div>
            <div class="disciplina-desenvolvimento-web">
            Disciplina: Desenvolvimento Web
            </div>
            <div class="turno-manh">
            Turno: Manhã
            </div>
          </div>
          <div class="group-15">
            <div class="rectangle-141">
            </div>
            <span class="turma-fes-0301311">
            Turma: Fes030131
            </span>
            <span class="disciplina-desenvolvimento-web-1">
            Disciplina: Desenvolvimento Web
            </span>
            <span class="turno-tarde">
            Turno: Tarde
            </span>
          </div>
          <div class="group-16">
            <div class="rectangle-142">
            </div>
            <span class="turma-fes-0301312">
            Turma: Fes030131
            </span>
            <span class="disciplina-desenvolvimento-web-2">
            Disciplina: Desenvolvimento Web
            </span>
            <span class="turno-noturno">
            Turno: Noturno
            </span>
          </div>
          <div class="group-17">
            <div class="rectangle-143">
            </div>
            <span class="turma-fes-0301313">
            Turma: Fes030131
            </span>
            <span class="disciplina-desenvolvimento-web-3">
            Disciplina: Desenvolvimento Web
            </span>
            <span class="turno-manh-1">
            Turno: Manhã
            </span>
          </div>
          <div class="group-18">
            <div class="rectangle-144">
            </div>
            <span class="turma-fes-0301314">
            Turma: Fes030131
            </span>
            <span class="disciplina-desenvolvimento-web-4">
            Disciplina: Desenvolvimento Web
            </span>
            <span class="turno-tarde-1">
            Turno: Tarde
            </span>
          </div>
          <div class="group-141">
            <div class="rectangle-145">
            </div>
            <span class="turma-fes-0301315">
            Turma: Fes030131
            </span>
            <span class="disciplina-jogos-digitais">
            Disciplina: Jogos Digitais
            </span>
            <span class="turno-noturno-1">
            Turno: Noturno
            </span>
          </div>
          <div class="group-151">
            <div class="rectangle-146">
            </div>
            <span class="turma-fes-0301316">
            Turma: Fes030131
            </span>
            <span class="disciplina-jogos-digitais-1">
            Disciplina: Jogos Digitais
            </span>
            <span class="turno-manh-2">
            Turno: Manhã
            </span>
          </div>
          <div class="group-161">
            <div class="rectangle-147">
            </div>
            <span class="turma-fes-0301317">
            Turma: Fes030131
            </span>
            <span class="disciplina-jogos-digitais-2">
            Disciplina: Jogos Digitais
            </span>
            <span class="turno-tarde-2">
            Turno: Tarde
            </span>
          </div>
          <div class="group-171">
            <div class="rectangle-148">
            </div>
            <span class="turma-fes-0301318">
            Turma: Fes030131
            </span>
            <span class="disciplina-jogos-digitais-3">
            Disciplina: Jogos Digitais
            </span>
            <span class="turno-noturno-2">
            Turno: Noturno
            </span>
          </div>
          <div class="group-181">
            <div class="rectangle-149">
            </div>
            <div class="turma-fes-0301319">
            Turma: Fes030131
            </div>
            <div class="disciplina-jogos-digitais-4">
            Disciplina: Jogos Digitais
            </div>
            <div class="turno-manh-3">
            Turno: Manhã
            </div>
          </div>
          <div class="rectangle-1">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>