{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Professor - solicitações</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/professor_solicitacoes.css' %}" />
  </head>
  <body>
    <div class="professor-solicitacoes">
      <div class="container-header">
        <div class="container-logo">
          <span class="title">
          Universidade Utopia 
          </span>
          <img class="logo" src="{% static 'images/logo.png' %}" />
        </div>
        <div class="container-13">
          <div class="container-options">
            <img class="options-icon" src="{% static 'images/local.png' %}" />
            <img class="options-icon" src="{% static 'images/usuario.png' %}" />
            <img class="options-icon" src="{% static 'images/help.png' %}" />
          </div>
          <div class="line">
          </div>
        </div>
      </div>
      <div class="container-main">
        <div class="sidebar">
          <div class="list">
          <div class="menu-item">
            <img src="{% static 'images/home.png' %}" style="width: 25px; height: 25px;" />
            <a href="/professor/" class="link">Home</a>
          </div>
            <div class="menu-item">
              <img src="{% static 'images/aluno.png' %}" style="width: 25px; height: 25px;" />
              <a href="/professor/turmas/" class="link">Turmas</a>
            </div>
          <div class="menu-item">
              <img src="{% static 'images/disciplinas.png' %}" style="width: 25px; height: 25px;" />
              <a href="/professor/disciplinas/" class="link">Disciplinas</a>
          </div>
          <div class="menu-item">
            <img src="{% static 'images/solicitacoes.png' %}" style="width: 25px; height: 25px;" />
            <a href="" class="link">Solicitações</a>
          </div>
        </div>
        </div>
        <div class="content">
          <div class="container-search">
            <div class="content-title">
              Turmas
            </div>
            <div class="busca">
              <span class="buscar">
                Buscar
              </span>
            </div>
            <div class="filter">
              <span class="text">
                  Turmas
              </span>
                <img class="icon-filter" src="{%static 'images/seta.png'%}" />
            </div>
            <div class="filter">
              <span class="text">
                Turno
              </span>
              <img class="icon-filter" src="{%static 'images/seta.png'%}" />
            </div>
  
          </div>

          <div class="solicitao">
          Solicitação
          </div>
          <div class="container-4">
            <div class="container-5">
              <span class="buscar">
              Buscar....
              </span>
            </div>
            <div class="container">
              <div class="group-55">
                <div class="nova-solicitao">
                Nova Solicitação
                </div>
                <div class="rectangle-20">
                </div>
              </div>
              <div class="group-54">
                <span class="data-de-solicitao">
                Data de Solicitação
                </span>
                <div class="mdicalendar-outline">
                  <img class="vector-17" src="../assets/vectors/vector_78_x2.svg" />
                </div>
              </div>
              <div class="group-53">
                <span class="histrico-solicitao">
                Histórico solicitação
                </span>
                <div class="group-3">
                  <img class="vector-18" src="../assets/vectors/vector_88_x2.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="container-6">
            <div class="group-51">
              <div class="rectangle-39">
              </div>
              <div class="container-11">
                <div class="container-15">
                  <img class="vector" src="../assets/vectors/vector_43_x2.svg" />
                  <div class="container-8">
                    <span class="nmero-22540">
                    Número: 22540
                    </span>
                    <span class="data-25042024">
                    Data: 25/04/2024
                    </span>
                  </div>
                  <div class="container-17">
                    <span class="solicitao-relatrio-de-turma">
                    Solicitação: Relatório de Turma
                    </span>
                    <span class="prazo-5-dias">
                    Prazo: 5 dias
                    </span>
                  </div>
                </div>
                <span class="status-em-andamento">
                Status:<br />
                em andamento
                </span>
              </div>
            </div>
            <div class="group-52">
              <div class="rectangle-391">
              </div>
              <div class="container-2">
                <div class="container-7">
                  <img class="vector-1" src="../assets/vectors/vector_48_x2.svg" />
                  <div class="container-1">
                    <span class="nmero-54217">
                    Número: 54217
                    </span>
                    <span class="data-30052024">
                    Data: 30/05/2024
                    </span>
                  </div>
                  <div class="container-12">
                    <span class="solicitao-redefinio-de-senha">
                    Solicitação: Redefinição de Senha
                    </span>
                    <span class="prazo-1-dias">
                    Prazo: 1 dias
                    </span>
                  </div>
                </div>
                <span class="status-concludo">
                Status:<br />
                concluído
                </span>
              </div>
            </div>
          </div>
          <div class="rectangle-1">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>