{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - disciplinas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/admin/admin_disciplinas.css' %}" />
  </head>
  <body>
    <div class="admin-disciplinas">        
      <div class="sidebar">
        <div class="container-header">
          <div class="title">
              Universidade Utopia 
          </div>
            <img src="{% static 'images/logo2.png' %}" style="width: 43px; height: 40px;" />
        </div>
        <div class="list">

            <div class="menu-item">
              <div class="vector">
                <img src="{% static 'images/home.png' %}" style="width: 25px; height: 25px;" />
              </div>
              <a href="/admin/" class="link">Home</a>
            </div>
          
            <div class="menu-item">
              <div class="vector">
                <img src="{% static 'images/aluno.png' %}" style="width: 25px; height: 25px;" />
              </div>
              <a href="/admin/alunos/" class="link">Alunos</a>
            </div>
          
          <div class="menu-item">
            <div class="vector">
              <img src="{% static 'images/professores.png' %}" style="width: 25px; height: 25px;" />
            </div>
            <a href="/admin/professores/" class="link">Professores</a>
          </div>

          <div class="menu-item">
            <div class="vector">
              <img src="{% static 'images/disciplinas.png' %}" style="width: 25px; height: 25px;" />
            </div>
            <a href="" class="link">Disciplinas</a>
          </div>

          <div class="menu-item">
            <div class="vector">
              <img src="{% static 'images/turmas.png' %}" style="width: 25px; height: 25px;" />
            </div>
            <a href="/admin/turmas/" class="link">Turmas</a>
          </div>

          <div class="menu-item">
            <div class="vector">
              <img src="{% static 'images/relatorios.png' %}" style="width: 25px; height: 25px;" />
            </div>
            <a href="/admin/relatorios/" class="link">Relatórios</a>
          </div>

          <div class="menu-item">
            <div class="vector">
              <img src="{% static 'images/logout.png' %}" style="width: 25px; height: 25px;" />
            </div>
            <a href="/" class="link">Sair</a>
          </div>
        </div>
      </div>
               
      <div class="container-content">
        <div class="container-header">
          <div class="title">
            <span class="portal-do-admin">
            Portal do admin
            </span>
          </div>
        </div>
        <div class="content-title">
          Disciplinas
        </div>
        <div class="container-search">
          <div class="busca">
            <span class="buscar">
              Buscar
            </span>
          </div>
          <div class="filter">
            <span class="text">
                Turma
            </span>
              <img class="icon-filter" src="{%static 'images/seta.png'%}" />
          </div>
          <div class="filter">
            <span class="text">
              Carga horária 
            </span>
            <img class="icon-filter" src="{%static 'images/seta.png'%}" />
          </div>
          <div class="filter">
            <span class="text">
              Turno
            </span>
            <img class="icon-filter" src="{%static 'images/seta.png'%}" />
          </div>
          <div class="filter">
            <span class="text">
              Professor
            </span>
            <img class="icon-filter" src="{%static 'images/seta.png'%}" />
          </div>
        </div>
    
        <div class="container-info">
          {%for item in disciplinas%}
          <div class="info">
            <div class="class-info">
              <span class="field">
              Disciplina: {{item.nome}}
              </span>
              <span class="field">
              Carga horária: {{item.cargaHoraria}}
              </span>
              <span class="field">
                Professor: {{item.professores}}
              </span>
            </div>
            <div class="edit">
              <div class="edit-icon">
                <a href="/admin/exibir/disciplina/{{item.codigo}}/">
                <img class="icon" src="{% static 'images/icon-edit.png'%}" />
                </a>
              </div>
          </div>
          </div>
          {%endfor%}
        </div>

        <div class="container-buttons">
          <div class="container-button">
            <a href="/admin/adicionar_disciplina/">
              <img class="vector-1" src="{% static 'images/mais.png' %}" />
            </a>
          </div>           
        </div>
        <div class="footer">
        </div>
      </div>        
    </div>
  </body>
</html>